{{/*
    # Missing Alt Text Handler

    This partial is used for handling missing alt text in shortcodes, markdown images, and partials
    to provide a contextual message and raise a build-time error or warning.

    By default, this handler raises the error message `Missing alt text`. If the handler is called
    from a shortcode and passed the shortcode's input context, it includes the name of the shortcode
    and its position in the content file.

    If the caller includes a suffix, that string is appended to the message.

    If the site's configuration has the `Platen.Accessibility.WarnOnMissingAltText` option set to
    `true`, this handler raises a warning instead of an error.
*/}}

{{- $params := .              -}}
{{- $input  := $params.Input  -}}
{{- $suffix := $params.Suffix -}}

{{/* Retrieve site accessibility settings */}}
{{- $a11ySettings := site.Params.Platen.Accessibility -}}

{{/* Set default message without context */}}
{{- $message      := "Missing alt text"               -}}

{{/* Add context if possible */}}
{{- with $input -}}
  {{- warnf "shortcode input: %#v" $input -}}
  {{- $message = printf "%s for  %s shortcode at %s" $message $input.Name $input.Position -}}
{{- else -}}
  {{/* TODO: Handle missing alt text in non-shortcodes */}}
{{- end -}}

{{/* Add message suffix if provided */}}
{{- with $suffix -}}
  {{- $message = printf "%s %s" $message $suffix -}}
{{- end -}}

{{/* Write warning or error as configured */}}
{{- if $a11ySettings.WarnOnMissingAltText -}}
  {{- warnf  $message -}}
{{- else -}}
  {{- errorf $message -}}
{{- end -}}
