{{/*
    # Missing Alt Text Handler

    This partial is used for handling missing alt text in shortcodes, markdown images, and partials
    to provide a contextual message and raise a build-time error or warning.

    By default, this handler raises the error message `Missing alt text`. If the handler is called
    from a shortcode and passed the shortcode's input context, it includes the name of the shortcode
    and its position in the content file.

    If the handler is called from a partial and passed that partial's info, it includes the page,
    the identifier, and potentially the position (if available).

    If the caller includes a suffix, that string is appended to the message.

    If the site's configuration has the `platen.accessibility.warn_on_missing_alt_text` option set to
    `true`, this handler raises a warning instead of an error.
*/}}

{{- $Params := .              -}}
{{- $Input  := $Params.Input  -}}
{{- $Info   := $Params.Info   -}}
{{- $Suffix := $Params.Suffix -}}

{{/* Retrieve site accessibility settings */}}
{{- $A11yKey      := "platen.accessibility"                                -}}
{{- $A11ySettings := partialCached "platen/param/getKey" $A11yKey $A11yKey -}}

{{/* Set default message without context */}}
{{- $message := i18n "MissingAltText" -}}

{{/* Add context if possible */}}
{{- with $Input -}}
  {{- warnf "shortcode input: %#v" $Input -}}
  {{- $message = printf "%s %s" $message (i18n "MissingAltTextSuffixShortcode" $Input) -}}
{{- else -}}
  {{- with $Info -}}
    {{- with $Info.i18nCode -}}
      {{- $message = printf "%s %s" $message (i18n . $Info) -}}
    {{- else -}}
      {{- $message = printf "%s %s" $message (i18n "MissingAltTextSuffixPartial" $Info) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Add message suffix if provided */}}
{{- with $Suffix -}}
  {{- $message = printf "%s %s" $message $Suffix -}}
{{- end -}}

{{/* Write warning or error as configured */}}
{{- if $A11ySettings.warn_on_missing_alt_text -}}
  {{- warnf  $message -}}
{{- else -}}
  {{- errorf $message -}}
{{- end -}}
