{{/*
    Injection Partial: content-after

    You can use this partial to inject HTML after the rendered Markdown for a
    page and before the footer.

    This partial doesn't get any input, but you can:

    - Use the `page` function to get at the current page. For example, you
      could use `{{- page.Title -}}` to display the page's title.
    - Use `page.RenderString` to render arbitrary Markdown.
    - Use the `site` function to get at the site information. For example,
      you could use `{{- site.Data | jsonify -}}` to display the site's data
      as a JSON blob.
    - You can use any other partials or templates.
*/}}
