.markdown a.platen-btn {
  display: inline-block;
  font-size: $font-size-14;
  color: var(--color-link);
  line-height: $padding-16 * 2;
  padding: 0 $padding-16;
  border: $padding-1 solid var(--color-link);
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
