resources/_gen
.hugo_build.lock
site/resources/_gen
site/.hugo_build.lock
site/public

# Ignore the upstream styles but not our local ones
!.vscode/styles/
.vscode/styles/*
!.vscode/styles/Vocab/
!.vscode/styles/Platen/
