{{- if .IsNamedParams -}}
  {{- $.Scratch.Set "id"  (.Get "id") -}}
  {{- $.Scratch.Set "square" (.Get "square") -}}
  {{- $.Scratch.Set "linkback"  (.Get "linkback") -}}
  {{- $.Scratch.Set "dark"  (.Get "dark") -}}
{{- else -}}
  {{- $.Scratch.Set "id"  (.Get 0) -}}
  {{- $.Scratch.Set "square" (.Get 1) -}}
  {{- $.Scratch.Set "linkback"  (.Get 2) -}}
  {{- $.Scratch.Set "dark"  (.Get 3) -}}
{{- end -}}
{{- $.Scratch.Set "url" (printf "https://itch.io/embed/%s" ($.Scratch.Get "id")) -}}
{{- if (eq ($.Scratch.Get "linkback") "true") -}}
  {{- $.Scratch.Set "url" (printf "%s?linkback=true" ($.Scratch.Get "url")) -}}
{{- end -}}
{{- if (eq ($.Scratch.Get "dark") "true") -}}
  {{- if strings.HasSuffix ($.Scratch.Get "url") "?linkback=true" -}}
    {{- $.Scratch.Set "url" (printf "%s&dark=true" ($.Scratch.Get "url")) -}}
  {{- else -}}
    {{- $.Scratch.Set "url" (printf "%s?dark=true" ($.Scratch.Get "url")) -}}
  {{- end -}}
{{- end -}}
{{- if (eq ($.Scratch.Get "square") "true") -}}
  {{ $.Scratch.Set "width" "208"}}
{{- else -}}
  {{ $.Scratch.Set "width" "552"}}
{{- end -}}

<iframe frameborder="0"
        src="{{ $.Scratch.Get "url" }}"
        width="{{ $.Scratch.Get "width" }}"
        height="167">
</iframe>
