{{/*
  Docs.Partial: generate

  This partial generates and renders the table of contents for a page.

  It expects input as a map with the following keys:

  - `ForMobile` - A boolean value indicating whether the TOC is being rendered
    for the mobile view or desktop. When this value is `true`, the ID for the
    TOC has `Mobile` added to it.
  
  The partial calls `_canonicalize` to get the template and parameters for
  rendering the TOC. It renders the TOC inside a nav element.
*/}}
{{- $Params    := .                 -}}
{{- $ForMobile := $Params.ForMobile -}}

{{- $id := "TableOfContents" -}}
{{- if eq true $ForMobile -}}
  {{- $id = printf "%sMobile" $id -}}
{{- end -}}

{{- $Canonical := partial "platen/toc/_canonicalize" -}}

<nav id="{{ $id | safeHTMLAttr }}">
  {{ partial $Canonical.Template $Canonical }}
</nav>
