{{- $Context      := .                                             -}}
{{- $PlatenConfig      := partialCached "platen/param/getKey" "platen" "platen" -}}

{{- partial  "platen/param/checkShortcodes" $Context -}}

{{  partial  "platen/htmlHead/meta"                 $Context  }}

{{- template "_internal/opengraph.html"             $Context -}}

<title>
  {{ partial "platen/utils/getHtmlHeadTitle" $Context }}
</title>

{{ partial "platen/htmlHead/faviconLink" $Context }}

{{- range $translatedPage := $Context.Translations }}
  {{ partial "platen/htmlHead/translationLink" $translatedPage }}
{{- end -}}

{{ partial "platen/htmlHead/siteStyleLink" $Context }}

{{ range $feature, $settings := $PlatenConfig.features -}}
  {{- if $settings.enabled -}}
    {{- with $settings.partials.header -}}
      {{ partial . $Context }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{ range $feature, $settings := $PlatenConfig.markup -}}
  {{- if $settings.enabled -}}
    {{- with $settings.partials.header -}}
      {{ partial . $Context }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- template "_internal/google_analytics.html" $Context -}}

{{ partial "platen/htmlHead/rssLink" }}

{{ "<!--" | safeHTML }} Made with Platen https://platen.io {{ "-->" | safeHTML }}
