{{- $context := . -}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ default .Summary .Description }}">
<meta name="theme-color" content="#FFFFFF">
<meta name="color-scheme" content="light dark">

{{- template "_internal/opengraph.html" $context -}}

<title>
  {{ partial "platen/utils/getHtmlHeadTitle.html" $context }}
</title>

<link rel="icon" href="{{ "favicon.png" | relURL }}" type="image/x-icon">

{{- range $translatedPage := .Translations }}
  <link rel="alternate"
        hreflang="{{ default $translatedPage.Language.Lang $translatedPage.Site.LanguageCode }}"
        href="{{ $translatedPage.Permalink }}"
        title="{{ partial "platen/utils/getTitle" $translatedPage }}">
{{- end -}}

<!-- Theme stylesheet, you can customize scss by creating `assets/custom.scss` in your website -->
{{- $styles := resources.Get "styles/platen.scss"
               | resources.ExecuteAsTemplate "platen.scss" .
               | resources.ToCSS
               | resources.Minify
               | resources.Fingerprint
}}
<link rel="stylesheet"
      href="{{ $styles.RelPermalink }}"
      {{ partial "platen/utils/getIntegrityAttributes" $styles }}>

{{ range $feature, $settings := .Site.Params.Platen.Features -}}
  {{- if $settings.Enabled -}}
    {{- with $settings.Partials.Header -}}
      {{ partial . $context }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- template "_internal/google_analytics.html" $context -}}

<!-- RSS -->
{{- with .OutputFormats.Get "rss" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` 
            .Rel .MediaType.Type .Permalink site.Title
            | safeHTML
  }}
{{ end }}

{{ "<!--" | safeHTML }} Made with Platen https://platen.io {{ "-->" | safeHTML }}
