// Shoelace button styling
.markdown sl-button.platen-btn {
  &[data-custom-height="true"] {
    &::part(base) {
      height: var(--custom-height);
      align-items: center;
    }
  }
  &[data-custom-width="true"] {
    width: var(--custom-width);
    &::part(base) {
      white-space: normal;
    }
  }
}

// Legacy button styling
.markdown a.platen-btn {
  display: inline-block;
  font-size: $font-size-medium;
  color: var(--color-link);
  line-height: $padding-large * 2;
  padding: 0 $padding-large;
  border: $padding-minimal solid var(--color-link);
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
