.platen-toc {
  flex: 0 0 $toc-width;
  font-size: $font-size-small;

  .platen-toc-content {
    width: $toc-width;
    padding: $padding-large;

    @include fixed;
  }

  img {
    height: 1em;
    width: 1em;
  }

  nav > ul > li:first-child {
    margin-top: 0;
  }
}
