{{- $Params     := .                                                         -}}
{{- $Context    := $Params.Context                                           -}}
{{- $Position   := $Params.Position                                          -}}
{{- $ConfigKey  := "platen.display.menu"                                     -}}
{{- $MenuConfig := partialCached "platen/param/getKey" $ConfigKey $ConfigKey -}}

{{- with (index $MenuConfig $Position) -}}
  {{- $PositionSettings := . -}}
  {{- with $PositionSettings.entries -}}
    {{- $partialParams := merge $Params $PositionSettings -}}
    {{- with $PositionSettings.group -}}
      {{ partial "platen/menu/features/group" $partialParams }}
    {{- else -}}
      {{- $partialParams = merge $partialParams (dict "TopLevel" true) -}}
      {{ partial "platen/menu/features/entries" $partialParams }}
    {{- end -}}
  {{- else -}}
    {{- if reflect.IsSlice $PositionSettings -}}
      {{- warnf "processing entries as naive list: %#v" $PositionSettings -}}
    {{- else -}}
      {{- errorf "%s; %s"
                 (printf "Unable to process feature menu items for %s" $Position)
                 (printf "value is neither a map defining the 'Entries' key nor slice of entries: %#v" $PositionSettings)
      -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
