{{- $platenSection := site.Params.Platen.display.menu.root_section | default "/" -}}
{{- if eq $platenSection "*" -}}
  {{- $platenSection = "/" -}}{{/* Backward compatibility */}}
{{- end }}

{{ with .Site.GetPage $platenSection }}
  {{ template "platen-section-children" (dict "Section" . "CurrentPage" $) }}
{{ end }}

{{ define "platen-section-children" }}{{/* (dict "Section" .Section "CurrentPage" .CurrentPage) */}}
  <ul>
    {{ range (where .Section.Pages "Params.Platen.menu.hide" "ne" true) }}
      {{ if .IsSection }}
        <li {{- if .Params.Platen.menu.flatten_section }} class="platen-section-flat" {{ end -}}>
          {{ template "platen-page-link"        (dict "Page"    . "CurrentPage" $.CurrentPage) }}
          {{ template "platen-section-children" (dict "Section" . "CurrentPage" $.CurrentPage) }}
        </li>
      {{ else if and .IsPage .Content }}
        <li>
          {{ template "platen-page-link" (dict "Page" . "CurrentPage" $.CurrentPage) }}
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}

{{ define "platen-page-link" }}{{/* (dict "Page" .Page "CurrentPage" .CurrentPage) */}}
  {{ $current := eq .CurrentPage .Page }}
  {{ $ancestor := .Page.IsAncestor .CurrentPage }}  
  {{- $titleParams := dict "Context" .Page "ForMenu" true          -}}
  {{- $titleText   := partial "platen/utils/getTitle" $titleParams -}}

  {{ if .Page.Params.Platen.menu.collapse_section }}
    <input type="checkbox"
           id="section-{{ md5 .Page }}"
           class="toggle" {{ if or $current $ancestor }}checked{{ end }} />
    <label for="section-{{ md5 .Page }}" class="flex justify-between">
      <a {{ if .Page.Content }}href="{{ .Page.Permalink }}"{{ else }}role="button"{{ end }}
         class="{{ if $current }}active{{ end }}">
        {{- $titleText -}}
      </a>
    </label>
  {{ else if .Page.Content }}
    <a href="{{ .Page.Permalink }}" class="{{ if $current }} active{{ end }}">
      {{- $titleText -}}
    </a>
  {{ else }}
    <span>{{- $titleText -}}</span>
  {{ end }}
{{ end }}
