{{- $ConfigKey     := "platen.display.menu"                                     -}}
{{- $MenuConfig    := partialCached "platen/param/getKey" $ConfigKey $ConfigKey -}}
{{- $PlatenSection := $MenuConfig.root_section | default "/"                    -}}
{{- if eq $PlatenSection "*" -}}
  {{- $PlatenSection = "/" -}}{{/* Backward compatibility */}}
{{- end }}

{{ with site.GetPage $PlatenSection }}
  {{- $Section := . -}}
  {{ template "platen-section-children" $Section }}
{{ end }}

{{ define "platen-section-children" }}
  {{- $Section := . -}}
  <ul>
    {{ range $ChildPage := (where $Section.Pages "Params.platen.menu.hide" "ne" true) }}
      {{ if $ChildPage.IsSection }}
        <li {{- if $ChildPage.Params.platen.menu.flatten_section }} class="platen-section-flat" {{ end -}}>
          {{ template "platen-page-link"        $ChildPage }}
          {{ template "platen-section-children" $ChildPage }}
        </li>
      {{ else if and $ChildPage.IsPage $ChildPage.Content }}
        <li>
          {{ template "platen-page-link" $ChildPage }}
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}

{{ define "platen-page-link" }}
  {{- $EntryPage           := .                                                       -}}
  {{- $HasContent          := $EntryPage.Content                                      -}}
  {{- $IsCurrentPage       := eq page $EntryPage                                      -}}
  {{- $IsAncestorPage      := $EntryPage.IsAncestor page                              -}}
  {{- $IsAncestorOrCurrent := or $IsCurrentPage $IsAncestorPage                       -}}
  {{- $TitleParams         := dict "Context" $EntryPage "ForMenu" true                -}}
  {{- $TitleText           := partial "platen/utils/getTitle" $TitleParams            -}}
  {{- $LinkClassAttribute  := cond $IsCurrentPage `class="active"` "" | safeHTMLAttr -}}

  {{ if $EntryPage.Params.platen.menu.collapse_section }}
    {{- $SectionID := printf "section-%s" (md5 $EntryPage) | safeHTMLAttr -}}

    <input type="checkbox"
           id="{{ $SectionID }}"
           class="toggle" {{ if $IsAncestorOrCurrent }} checked {{ end }} />
    <label for="{{ $SectionID }}" class="flex justify-between">
      <a {{ $LinkClassAttribute }} {{ if $HasContent -}}
            href="{{ $EntryPage.Permalink }}"
          {{- else -}}
            role="button"
          {{- end }}>
        {{- $TitleText -}}
      </a>
    </label>
  {{ else if $HasContent }}
    <a {{ $LinkClassAttribute }} href="{{ $EntryPage.Permalink }}">
      {{- $TitleText -}}
    </a>
  {{ else }}
    <span>{{- $TitleText -}}</span>
  {{ end }}
{{ end }}
