{{- $ConfigKey     := "platen.multilingual"                                     -}}
{{- $LangConfig    := partialCached "platen/param/getKey" $ConfigKey $ConfigKey -}}
<!-- Merge home and current page translations -->
{{- $TranslatedOnly := $LangConfig.translated_only | default false -}}
{{- $translations   := dict                                        -}}

{{- if (eq $TranslatedOnly false) -}}
  {{- range $Translation := site.Home.Translations -}}
    {{- $translations = merge $translations (dict $Translation.Language.Lang $Translation) -}}
  {{- end -}}
{{- end -}}

{{- range $Translation := page.Translations -}}
  {{- $translations = merge $translations (dict $Translation.Language.Lang $Translation) -}}
{{- end -}}

<ul class="platen-languages">
  <li>
    <input type="checkbox" id="languages" class="toggle" />
    <label for="languages" class="flex justify-between">
      <a role="button" class="flex align-center">
        <img src="{{ "svg/translate.svg" | relURL }}" class="platen-icon" alt="Languages" />
        {{ site.Language.LanguageName }}
      </a>
    </label>

    <ul>
      {{ range $Language := site.Languages }}
        {{- with index $translations $Language.Lang -}}
          {{- $Translation := . -}}
          <li>
            <a href="{{ $Translation.Permalink }}">
              {{ $Translation.Language.LanguageName }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </li>
</ul>
