<!-- Merge home and current page translations -->
{{ $translatedOnly := default false site.Params.platen.multilingual.translated_only }}
{{ $translations := dict }}
{{ if (eq $translatedOnly false ) }}
  {{ range site.Home.Translations }}
    {{ $translations = merge $translations (dict .Language.Lang .) }}
  {{ end }}
{{ end }}
{{ range .Translations }}
  {{ $translations = merge $translations (dict .Language.Lang .) }}
{{ end }}

<ul class="platen-languages">
  <li>
    <input type="checkbox" id="languages" class="toggle" />
    <label for="languages" class="flex justify-between">
      <a role="button" class="flex align-center">
        <img src="{{ "svg/translate.svg" | relURL }}" class="platen-icon" alt="Languages" />
        {{ site.Language.LanguageName }}
      </a>
    </label>

    <ul>
      {{ range site.Languages }}{{ with index $translations .Lang }}
      <li>
        <a href="{{ .Permalink }}">
          {{ .Language.LanguageName }}
        </a>
      </li>
      {{ end }}{{ end }}
    </ul>
  </li>
</ul>
