{{- $Params   := .                                         -}}
{{- $Position := default $Params.position $Params.Position -}}
{{- $Name     := default $Params.name     $Params.Name     -}}
{{- $Href     := default $Params.href     $Params.Href     -}}
{{- $Collapse := default $Params.collapse $Params.Collapse -}}
{{- $flatten  := default $Params.flatten  $Params.Flatten  -}}
{{- $class    := default $Params.class    $Params.Class    -}}

{{- if and $flatten $Collapse -}}
  {{- warnf "Specified both flatten and collapse for '%s' entry in site menu at position %s. Preferring collapse instead." $Name $Position -}}
  {{- $flatten = false -}}
{{- end -}}

{{- if $flatten -}}
  {{- with $class -}}
    {{- $class = " %s" $class -}}
  {{- end -}}
  {{- $class = printf `class="platen-section-flat%s"` $class -}}
{{- else -}}
  {{- with $class -}}
    {{- $class = printf `class="%s"` $class -}}
  {{- end -}}
{{- end -}}

{{- $entryElement := printf "<span>%s</span>" $Name -}}

{{- if $Collapse -}}
  {{- $entryElement = printf `<a role="button">%s</a>` $Name -}}
{{- end -}}

{{- with $Href -}}
  {{- $entryElement = printf `<a href="%s">%s</a>` $Href $Name -}}
{{- end -}}

{{- if $flatten -}}
<li {{ $class | safeHTMLAttr }}>
  {{ $entryElement | safeHTML }}
{{- else if $Collapse -}}
{{- $ID          := printf "section-%s" (md5 $Name) -}}
<li {{$class | safeHTMLAttr }}>
  <input type="checkbox" id="{{ $ID }}" class="toggle">
  <label for="{{ $ID }}" class="flex justify-between" />
    {{ $entryElement | safeHTML }}
  </label>
{{- else -}}
<li {{$class | safeHTMLAttr }}>
  {{ $entryElement | safeHTML }}
{{- end -}}
