{{- $Context          := .                                                                -}}
{{- $Image            := $Context.Params.image                                            -}}
{{- $ConfigKey        := "platen.display.date_format"                                     -}}
{{- $DateFormatConfig := partialCached "platen/param/getKey" $ConfigKey $ConfigKey -}}
{{ with .Date }}
  <h5>
    {{ partial "platen/utils/getFormattedDate" (dict "Date" . "Format" $DateFormatConfig) }}
  </h5>
{{ end }}

{{ range $taxonomy, $_ := site.Taxonomies }}
  {{ with $terms := $Context.GetTerms $taxonomy }}
  <div>
    {{ range $n, $term := $terms }}{{ if $n }}, {{ end }}
      <a href="{{ $term.RelPermalink }}">{{ $term.Title }}</a>
    {{- end }}
  </div>
  {{ end }}
{{ end }}

{{ if $Image }}
<p>
  {{ with $Context.Resources.GetMatch $Image }}
    <img src={{ .RelPermalink }} />
  {{ else }}
    <img src={{ $Image | relURL }} />
  {{ end }}
</p>
{{ end }}
