{{- $PostContext      := .                                                         -}}
{{- $Image            := $PostContext.Params.image                                 -}}
{{- $ConfigKey        := "platen.display.date_format"                              -}}
{{- $DateFormatConfig := partialCached "platen/param/getKey" $ConfigKey $ConfigKey -}}

{{ with $PostContext.Date }}
  <h5>
    {{ partial "platen/utils/getFormattedDate" (dict "Date" $PostContext.Date "Format" $DateFormatConfig) }}
  </h5>
{{ end }}

{{ range $Taxonomy, $_ := site.Taxonomies }}
  {{ with $TermPages := $PostContext.GetTerms $Taxonomy }}
  <div>
    {{ range $Index, $TermPage := $TermPages }}{{ if $Index }}, {{ end }}
      <a href="{{ $TermPage.RelPermalink }}">{{ $TermPage.Title }}</a>
    {{- end }}
  </div>
  {{ end }}
{{ end }}

{{ with $Image }}
<p>
  {{ with $PostContext.Resources.GetMatch $Image }}
    <img src={{ .RelPermalink }} />
  {{ else }}
    <img src={{ $Image | relURL }} />
  {{ end }}
</p>
{{ end }}
