.markdown {
  table {
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: $padding-large;
    margin-bottom: $padding-large;

    tr th,
    tr td {
      padding: $padding-medium $padding-large;
      border: $padding-minimal solid var(--gray-200);
    }

    tr:nth-child(2n) {
      background: var(--gray-100);
    }
  }
}

.markdown table.sticky {
  width: max-content;
  height: 22rem;
  overflow-x: hidden;
  overflow-y: scroll;
  table-layout: fixed;
  margin: auto;
  @include outline;

  thead {
    width: 100%;
    background: var(--body-background);
    position: sticky;
    inset-block-start: 0;

    /* "top" */
    tr {
      width: 100%;

      th:nth-child(odd) {
        width: 75%;
      }

      th:nth-child(even) {
        width: 25%;
      }
    }
  }

  tbody {
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 10px;
    /* Mostly for vertical scrollbars */
    height: 10px;
    /* Mostly for horizontal scrollbars */
  }
}