{{- $Context      := .                                             -}}
{{- $PlatenConfig      := partialCached "platen/param/getKey" "platen" "platen" -}}
{{- $renderedCode := ""                                            -}}

{{/* Use renderers from features first */}}
{{- range $feature := $PlatenConfig.features -}}
  {{- if and $feature.enabled (eq "" $renderedCode) -}}
    {{- with $feature.partials.renderers.codeblock -}}
      {{- $renderedCode = partial . $Context }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Use arbitrary renderers if no feature applied */}}
{{- range $markup := $PlatenConfig.markup -}}
  {{- if and $markup.enabled (eq "" $renderedCode) -}}
    {{- with $markup.partials.renderers.codeblock -}}
      {{- $renderedCode = partial . $Context }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Render the code or use the default renderer if needed */}}
{{- with $renderedCode -}}
  {{- safeHTML $renderedCode -}}
{{- else -}}
  {{- partial "platen/markup/_default/codeblock" $Context -}}
{{- end -}}
