{{- $params := . -}}

{{- $renderedHeading := "" -}}

{{/* Use renderers from features first */}}
{{- range $feature := site.Params.Platen.features -}}
  {{- if and $feature.enabled (eq "" $renderedHeading) -}}
    {{- with $feature.partials.renderers.heading -}}
      {{- $renderedHeading = partial . $params }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Use arbitrary renderers if no feature applied */}}
{{- range $markup := site.Params.Platen.markup -}}
  {{- if and $markup.enabled (eq "" $renderedHeading) -}}
    {{- with $markup.partials.renderers.heading -}}
      {{- $renderedHeading = partial . $params }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Render the heading or use the default renderer if needed */}}
{{- with $renderedHeading -}}
  {{- safeHTML $renderedHeading -}}
{{- else -}}
  {{- partial "platen/markup/_default/heading" $params -}}
{{- end -}}
