{{- $params := . -}}

{{- $renderedLink := "" -}}

{{/* Use renderers from features first */}}
{{- range $feature := site.Params.Platen.Features -}}
  {{- if and $feature.Enabled (eq "" $renderedLink) -}}
    {{- with $feature.Partials.Renderers.Link -}}
      {{- $renderedCode = partial . $params }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- range $renderer := .Page.Site.Params.Platen.Markup.LinkRenderers -}}
  {{- if and $renderer.Enabled (eq "" $renderedLink) -}}
    {{- with $renderer.Partial -}}
      {{- $renderedLink = partial . $params }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with $renderedLink -}}
  {{- safeHTML $renderedLink -}}
{{- else -}}
  {{- partial "platen/markup/renderers/links/default" $params -}}
{{- end -}}
