{{- $Context       := .                                                            -}}
{{- $PlatenConfig  := partialCached "platen/param/getKey" "platen" "platen" -}}
{{- $renderedImage := ""                                                           -}}

{{/* Use renderers from features first */}}
{{- range $feature := $PlatenConfig.features -}}
  {{- if and $feature.enabled (eq "" $renderedImage) -}}
    {{- with $feature.partials.renderers.image -}}
      {{- $renderedImage = partial . $Context }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Use arbitrary renderers if no feature applied */}}
{{- range $markup := $PlatenConfig.markup -}}
  {{- if and $markup.enabled (eq "" $renderedImage) -}}
    {{- with $markup.partials.renderers.image -}}
      {{- $renderedImage = partial . $Context }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Render the image or use the default renderer if needed */}}
{{- with $renderedImage -}}
  {{- safeHTML $renderedImage -}}
{{- else -}}
  {{- partial "platen/markup/_default/image" $Context -}}
{{- end -}}
