{{- $Context      := .                                                            -}}
{{- $PlatenConfig := partialCached "platen/param/getKey" "platen" "platen" -}}
{{- $renderedLink := ""                                                           -}}

{{/* Use renderers from features first */}}
{{- range $feature := $PlatenConfig.features -}}
  {{- if and $feature.enabled (eq "" $renderedLink) -}}
    {{- with $feature.partials.renderers.link -}}
      {{- $renderedLink = partial . $Context }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Use arbitrary renderers if no feature applied */}}
{{- range $markup := $PlatenConfig.markup -}}
  {{- if and $markup.enabled (eq "" $renderedLink) -}}
    {{- with $markup.partials.renderers.link -}}
      {{- $renderedLink = partial . $Context }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Render the link or use the default renderer if needed */}}
{{- with $renderedLink -}}
  {{- safeHTML $renderedLink -}}
{{- else -}}
  {{- partial "platen/markup/_default/link" $Context -}}
{{- end -}}
