{{- $Input        := .                                                     -}}
{{- $PlatenConfig := partialCached "platen/param/getKey" "platen" "platen" -}}
{{- $renderedCode := ""                                                    -}}

{{/* Use renderers from features first */}}
{{- range $Feature := $PlatenConfig.features -}}
  {{- if and $Feature.enabled (eq "" $renderedCode) -}}
    {{- with $Feature.partials.renderers.codeblock -}}
      {{- $renderedCode = partial $Feature.partials.renderers.codeblock $Input -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Use arbitrary renderers if no feature applied */}}
{{- range $Markup := $PlatenConfig.markup -}}
  {{- if and $Markup.enabled (eq "" $renderedCode) -}}
    {{- with $Markup.partials.renderers.codeblock -}}
      {{- $renderedCode = partial $Markup.partials.renderers.codeblock $Input -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Render the code or use the default renderer if needed */}}
{{- with $renderedCode -}}
  {{- safeHTML $renderedCode -}}
{{- else -}}
  {{- partial "platen/markup/_default/codeblock" $Input -}}
{{- end -}}
