{{- $params := . -}}

{{- $renderedLink := "" -}}

{{/* Use renderers from features first */}}
{{- range $feature := site.Params.platen.features -}}
  {{- if and $feature.enabled (eq "" $renderedLink) -}}
    {{- with $feature.partials.renderers.link -}}
      {{- $renderedLink = partial . $params }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Use arbitrary renderers if no feature applied */}}
{{- range $markup := site.Params.platen.markup -}}
  {{- if and $markup.enabled (eq "" $renderedLink) -}}
    {{- with $markup.partials.renderers.link -}}
      {{- $renderedLink = partial . $params }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Render the link or use the default renderer if needed */}}
{{- with $renderedLink -}}
  {{- safeHTML $renderedLink -}}
{{- else -}}
  {{- partial "platen/markup/_default/link" $params -}}
{{- end -}}
