{{- $params := . -}}

{{- $renderedImage := "" -}}

{{/* Use renderers from features first */}}
{{- range $feature := site.Params.Platen.Features -}}
  {{- if and $feature.Enabled (eq "" $renderedImage) -}}
    {{- with $feature.Partials.Renderers.Image -}}
      {{- $renderedImage = partial . $params }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Use arbitrary renderers if no feature applied */}}
{{- range $renderer := .Page.Site.Params.Platen.Markup.ImageRenderers -}}
  {{- if and $renderer.Enabled (eq "" $renderedImage) -}}
    {{- with $renderer.Partial -}}
      {{- $renderedImage = partial . $params }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Render the image or use the default renderer if needed */}}
{{- with $renderedImage -}}
  {{- safeHTML $renderedImage -}}
{{- else -}}
  {{- partial "platen/markup/renderers/images/default" $params -}}
{{- end -}}
