.markdown {
  table {
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: $padding-large;
    margin-bottom: $padding-large;

    tr th,
    tr td {
      padding: $padding-medium $padding-large;
      border: $padding-minimal solid var(--gray-200);
    }

    tr:nth-child(2n) {
      background: var(--gray-100);
    }
  }
}
