{{/*
    Docs.ShortCode: art
*/}}
{{- $input := . -}}

{{/* Process input parameters */}}
{{- $src            := default ($input.Get 0) ($input.Get "src")            -}}
{{- $alt            := default ($input.Get 1) ($input.Get "alt")            -}}
{{- $class          := default ($input.Get 2) ($input.Get "class")          -}}
{{- $contentWarning := default ($input.Get 3) ($input.Get "contentWarning") -}}
{{- $caption        := default nil            $input.Inner                  -}}
{{- with $caption -}}
  {{- $trimParams := dict "Text" $caption "TrimEOL" true                   -}}
  {{- $caption     = partial "platen/utils/getLeadTrimmedText" $trimParams -}}
{{- end -}}
{{/* Handle missing alt text */}}
{{- $missingAltText := eq nil $alt                      -}}
{{- if $missingAltText -}}
  {{- $handlerParams := dict "Input" $input 
                             "Suffix" "\n\tMake sure to specify alt text with the 'alt' parameter."
  -}}
  {{- partial "platen/handlers/missingAltText" $handlerParams -}}
{{- end -}}

{{/* Define classes for easy reference elsewhere */}}
{{- $artClass := "platen-art"             -}}
{{- $cwClass  := "platen-content-warning" -}}

{{/* Initialize the render strings */}}
{{- $renderStrings := slice -}}

{{/* Define the attribute list for the figure element */}}
{{- $figureAttributes := slice -}}
{{- $figureClass      := slice $artClass -}}
{{- with $contentWarning -}}
  {{- $figureClass = $figureClass | append $cwClass -}}
{{- end -}}
{{- with $class -}}
  {{- $figureClass = $figureClass | append $class -}}
{{- end -}}
{{- $figureClass      = delimit $figureClass " "                                         -}}
{{- $figureAttributes = $figureAttributes | append (printf `class="%s"` $figureClass)    -}}
{{- $figureAttributes = partial "platen/utils/getSafeAttributes" $figureAttributes       -}}
{{- $renderStrings    = $renderStrings | append (printf "<figure %s>" $figureAttributes) -}}

{{/* Handle the content warning, if needed */}}
{{- $cwID               := "" -}}
{{- with $contentWarning -}}
  {{- $cwID             = printf "content-warning-%s" (lower $contentWarning | urlize) -}}
  {{- $inputAttributes := slice `type="checkbox"`
                         | append (printf `class="%s"` $cwClass)
                         | append (printf `name="toggle-%s"` $cwID)
                         | append (printf `id="%s"`   $cwID)
  -}}
  {{- $attributeParams := dict "Attributes" $inputAttributes "IndentCount" 9        -}}
  {{- $inputAttributes  = partial "platen/utils/getSafeAttributes" $attributeParams -}}
  {{- $renderStrings    = $renderStrings
                          | append (printf "  <input %s/>" $inputAttributes)
                          | append (printf `  <label for="%s">%s</label>` $cwID $contentWarning)
  -}}
{{- end -}}

{{/* Define the attibute list for the img element */}}
{{- $imageAttributes := slice (printf `src="%s"` $src)
                        | append (printf `alt="%s"` $alt)
-}}
{{- $imageAttributes = partial "platen/utils/getSafeAttributes" $imageAttributes      -}}
{{- $renderStrings   = $renderStrings | append (printf "  <img %s>" $imageAttributes) -}}

{{- with $caption -}}
  {{- $renderParams := dict "Page"        $input.Page
                            "Content"     $caption
                            "IndentCount" 4
                            "AsBlock"     true
  -}}
  {{- $renderedcaption := partial "platen/utils/getPrettyRender" $renderParams              -}}
  {{- $figCaption      := printf "  <figcaption>\n    %s\n  </figcaption>" $renderedcaption -}}
  {{- $renderStrings    = $renderStrings | append $figCaption                               -}}
{{- end -}}

{{/* Add the closing tag for the figure */}}
{{- $renderStrings = $renderStrings | append "</figure>" -}}

{{/* Combine render strings */}}
{{- $renderString := delimit $renderStrings "\n" -}}

{{/* Render */}}
{{- $renderString | safeHTML -}}
