{{/*
    Docs.ShortCode: button
*/}}
{{- $input  := .                   -}}

{{/* Process input parameters */}}
{{- $href   := $input.Get "href"   -}}
{{- $relref := $input.Get "relref" -}}
{{- $class  := $input.Get "class"  -}}
{{- $text   := $input.Inner        -}}

{{/* Build the list of attributes for the link button */}}
{{- $attributes := slice -}}
{{- with $href -}}
  {{- $attributes = $attributes | append (printf `href="%s"` $href) -}}
  {{- $attributes = $attributes | append `target="_blank"`          -}}
  {{- $attributes = $attributes | append `rel="noopener"`           -}}
{{ else }}
  {{ with $relref }}
    {{- $ref       := relref $ $relref                               -}}
    {{- $attributes = $attributes | append (printf `href="%s"` $ref) -}}
  {{ end }}
{{ end }}
{{- with $class -}}
  {{- $attributes = $attributes | append (printf `class="platen-btn %s"` $class) -}}
{{- else -}}
  {{- $attributes = $attributes | append `class="platen-btn"` -}}
{{- end -}}
{{- $attributes = partial "platen/utils/getSafeAttributes" $attributes -}}

{{/* Render */}}
<a {{ $attributes }}>{{ $text | .Page.RenderString }}</a>
