{{/*
    Docs.ShortCode: column
*/}}
{{- $input  := .             -}}
{{- $parent := $input.Parent -}}
{{/* Process the tab */}}
{{- if $parent -}}
  {{- $grow       := default ($input.Get 0)  ($input.Get "grow")                    -}}
  {{- $class      := default ($input.Get 1)  ($input.Get "class")                   -}}
  {{- $inner      := partial "platen/utils/getLeadTrimmedText" $input.InnerDeindent -}}
  {{- $parentName := default ($parent.Get 0) ($parent.Get "id")                     -}}

  {{- if eq nil $parentName -}}
    {{- errorf "Specified 'column' shortcode but 'id' not set on parent 'columns' - id is mandatory for this usage." -}}
  {{- else -}}
    {{- $group := printf "columns-%s" $parentName -}}
    {{- if not ($parent.Scratch.Get $group) -}}
      {{- $parent.Scratch.Set $group slice -}}
    {{- end -}}
    {{- $column := dict "Class" $class "Content" $inner "Grow" $grow              -}}
    {{- $parent.Scratch.Add $group $column                                        -}}
  {{- end -}}
{{- else -}}
  {{- errorf "%q: 'column' shortcode must be inside 'columns' shortcode" $input.Page.Path -}}
{{- end -}}
