{{/*
    Docs.ShortCode: columns

    This shortcode can be used to turn markdown content into columns with a
    flexible ratio.
    It has two optional parameters, `ratio` and `flattenForMobile`. They can
    be specified by name or position. For example, these two shortcodes have the
    same functionality:
      {{< columns ratio="3:7" flattenForMobile=false >}}
      {{< columns "3:7" false >}}
    Note that to specify `flattenForMobile` but not `ratio` without using
    named parameters, you **must** specify the ratio as an empty string:
      {{< columns "" false >}}
    
    The `ratio` parameter should be specified as a string of integers separated
    by colons (`:`), such as `1:2:1` or `1:1:3:1`. If `ratio` is not specified
    (or is set to an empty string, `""`), the columns are evenly distributed.
    For more information on flexible columns, see the docs on MDN:
    https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow
    
    If `flattenForMobile` is specified as `true`, the `flatten-in-mobile`
    class is added to the container for the columns. This causes the columns to
    collapse into a vertical stack when in mobile view to help make them more
    readable on smaller screens. If `flattenForMobile` is not specified,
    the columns will still display horizontally, even on smaller screens.
*/}}
{{- $input := . -}}
{{/* Reference .Inner to ensure the shortcode uses open and closing tags. */}}
{{- with $input.Inner -}}{{- end -}}

{{/* Process input parameters */}}
{{- $id      := default ($input.Get 0) ($input.Get "id")    -}}
{{- $class   := default ($input.Get 1) ($input.Get "class") -}}
{{- $group   := printf "columns-%s" $id                     -}}
{{- $columns := slice                                       -}}
{{- with $id -}}
  {{- $columns = $input.Scratch.Get $group -}}
{{- else -}}
  {{- errorf "The columns shortcode must specify a unique ID." -}}
{{- end -}}

{{/* Define the default classes for the container div and the column divs. */}}
{{- $containerClasses := "platen-columns flex flex-wrap" -}}
{{- $columnClasses    := "flex-even markdown-inner"      -}}

{{/*
  Process the columns for rendering, defining their attributes. This creates a slice of dictionaries
  with the Attribute and Content keys defined. The attribute key holds the class attribute and, if
  using ratios, the style attribute. It combines them into a single string and makes them insertable
  as HTML attributes later, associated with their column's content.
*/}}
{{- $columnsToRender := slice -}}
{{- range $columnIndex, $column := $columns -}}
  {{- $columnContent := $column.Content                    -}}
  {{- $columnClass   := slice $columnClasses $column.Class -}}
  {{- $columnGrow    := default 1 $column.Grow             -}}

  {{- $attributes      := slice (printf `class="%s"` (delimit $columnClass " "))             -}}
  {{- $attributes       = $attributes | append (printf `style="flex-grow: %v;"` $columnGrow) -}}
  {{- $attributeParams := dict "Attributes" $attributes "IndentCount" 7                      -}}
  {{- $attributes       = partial "platen/utils/getSafeAttributes" $attributeParams          -}}
  {{- $columnParams    := dict "Attributes" $attributes "Content" $columnContent             -}}
  {{- $columnsToRender  = $columnsToRender | append $columnParams                            -}}
{{- end -}}

{{/* Render the column container and each column in turn. */}}
<div class="{{ $containerClasses }}" id="columns-{{ $id }}">
  {{- range $column := $columnsToRender }}
  <div {{ $column.Attributes }}>
    {{ partial "platen/utils/getPrettyRender"
               (dict "Page" $input.Page "Content" $column.Content "IndentCount" 4 "AsBlock" true)
    }}
  </div>
  {{ end }}
</div>
