{{/*
    Docs.ShortCode: details
*/}}
{{- $input := . -}}
{{/* Process input parameters */}}
{{- $summary      := default      ($input.Get 0)            ($input.Get "title")      -}}
{{- $anchor       := default      (urlize (lower $summary)) ($input.Get "id")         -}}
{{- $class        := default      ""                        ($input.Get "class")      -}}
{{- $content      := $input.Inner                                                     -}}
{{- $shouldBeOpen := or           ($input.Get "open")       (in $input.Params "open") -}}

{{/* Build the list of attributes for the container element */}}
{{- $detailsAttributes := slice -}}
{{- with $class -}}
  {{- $detailsAttributes = $detailsAttributes | append (printf `class="%s"` $class) -}}
{{- end -}}
{{- if $shouldBeOpen -}}
  {{- $detailsAttributes = $detailsAttributes | append "open" -}}
{{- end -}}
{{- $detailsAttributes = partial "platen/utils/getSafeAttributes" $detailsAttributes -}}

{{/* Render */}}
<details {{ $detailsAttributes }}>
  <summary id="{{ $anchor }}">{{ $summary | $input.Page.RenderString }}</summary>
  <div class="markdown-inner">
    {{ $content | $input.Page.RenderString }}
  </div>
</details>
