{{/*
    Docs.ShortCode: itchio
*/}}
{{- $input      := .     -}}
{{- $attributes := slice -}}
{{/* Process input parameters */}}
{{- $id              := default ($input.Get 0) ($input.Get "id")     -}}
{{- $title           := default ($input.Get 1) ($input.Get "title")  -}}
{{- $dark            := default false ($input.Get "dark")            -}}
{{- $square          := default false ($input.Get "square")          -}}
{{- $linkback        := default false ($input.Get "linkback")        -}}
{{- $backgroundColor := default ""    ($input.Get "backgroundColor") -}}
{{- $textColor       := default ""    ($input.Get "textColor")       -}}
{{- $buttonColor     := default ""    ($input.Get "buttonColor")     -}}
{{- $borderColor     := default ""    ($input.Get "borderColor")     -}}
{{- $borderWidth     := default ""    ($input.Get "borderWidth")     -}}
{{/* Process the shortcode if the ID has been specified, otherwise error */}}
{{- with $id -}}
  {{- $id = print $id -}}
  {{/* Build the list of URL queries based on the input parameters */}}
  {{- $urlQueryParams := slice -}}
  {{- if $linkback -}}
    {{- $urlQueryParams = $urlQueryParams | append "linkback=true" -}}
  {{- end -}}
  {{- if $dark -}}
    {{- $urlQueryParams = $urlQueryParams | append "dark=true" -}}
  {{- end -}}
  {{- with $backgroundColor -}}
    {{- $backgroundColor = strings.TrimPrefix "#" $backgroundColor -}}
    {{- $urlQueryParams = $urlQueryParams | append (printf `bg_color=%s` $backgroundColor) -}}
  {{- end -}}
  {{- with $textColor -}}
    {{- $textColor      = strings.TrimPrefix "#" $textColor -}}
    {{- $urlQueryParams = $urlQueryParams | append (printf `fg_color=%s` $textColor) -}}
  {{- end -}}
  {{- with $buttonColor -}}
    {{- $buttonColor    = strings.TrimPrefix "#" $buttonColor -}}
    {{- $urlQueryParams = $urlQueryParams | append (printf `link_color=%s` $buttonColor) -}}
  {{- end -}}
  {{- with $borderColor -}}
    {{- $borderColor    = strings.TrimPrefix "#" $borderColor -}}
    {{- $urlQueryParams = $urlQueryParams | append (printf `border_color=%s` $borderColor) -}}
  {{- end -}}
  {{- with $borderWidth -}}
    {{- $borderWidth = int $borderWidth -}}
    {{- if and (ge $borderWidth 0) (le $borderWidth 5) -}}
      {{- $urlQueryParams = $urlQueryParams | append (printf `border_width=%v` $borderWidth) -}}
    {{- else -}}
      {{- errorf "Invalid border width (%v) specified: must be between 0 and 5, inclusive." -}}
    {{- end -}}
  {{- end -}}
  {{- $urlQueryParams = delimit $urlQueryParams "&" -}}

  {{/* Define the URL with the query parameters, if any */}}
  {{- $url := printf "https://itch.io/embed/%s" $id -}}
  {{- with $urlQueryParams -}}
    {{- $url = printf "%s?%s" $url $urlQueryParams -}}
  {{- end -}}

  {{- with $title -}}
  {{- else -}}
    {{- warnf "Missing title for itchio iframe. This can affect accessibility for site visitors." -}}
  {{- end -}}

  {{/* Define the width; these values are hardcoded for square/non-square by itch. */}}
  {{- $width := cond $square "208" "552" -}}

  {{/* Define the list of attributes for the iframe element */}}
  {{- $attributes       = $attributes | append `frameborder="0"`                    -}}
  {{- $attributes       = $attributes | append (printf `src="%s"`   $url)           -}}
  {{- $attributes       = $attributes | append (printf `width="%s"` $width)         -}}
  {{- $attributes       = $attributes | append `height="167"`                       -}}
  {{- $attributes       = $attributes | append (printf `title="%s"` $title)         -}}
  {{- $attributeParams := dict "Attributes" $attributes "IndentCount" 8             -}}
  {{- $attributes       = partial "platen/utils/getSafeAttributes" $attributeParams -}}
{{- else -}}
  {{- errorf "Missing mandatory id for %s shortcode at %s" $input.Name $input.Position -}}
{{- end -}}

{{/* Render */}}
{{- printf "<iframe %s></iframe>" $attributes | safeHTML -}}
