{{/*
    Docs.ShortCode: katex
*/}}
{{- $input := . -}}

{{/* Process input parameters */}}
{{- $display       := default ($input.Get 0) ($input.Get "display")            -}}
{{- $display        = default false          $display                          -}}
{{- $class         := default ($input.Get 1) ($input.Get "class")              -}}
{{- $contentParams := dict "Text" $input.InnerDeindent "TrimEOL" true          -}}
{{- $content       := partial "platen/utils/getLeadTrimmedText" $contentParams -}}

{{/* Munge the content depending on whether it should be in display mode or not */}}
{{- if $display -}}
  {{- $content = printf "\\[%s\\]" $content -}}
{{- else -}}
  {{- $content = printf "\\(%s\\)" $content -}}
{{- end -}}

{{/* Define the list of attributes for the span element */}}
{{- $attributes := slice -}}
{{- $classes    := slice -}}
{{- with $class -}}
  {{- $classes = $classes | append $class -}}
{{- end -}}
{{- $classes = delimit $classes " " -}}
{{- with $classes -}}
  {{- $attributes = $attributes | append (printf `class="%s"` $classes)  -}}
{{- end -}}
{{- $attributes = partial "platen/utils/getSafeAttributes" $attributes -}}

{{/*
  Handle the katex links/scripts only the first time they're needed on a page.

  Use the page's scratch to add handling other shortcodes can take advantage of.
*/}}
{{- if not ($input.Page.Store.Get "hasKatex") -}}
  {{- $input.Page.Store.Set "hasKatex" true -}}
{{- end -}}

{{/* Render */}}
{{- printf "<span %s>%s</span>" $attributes $content | safeHTML -}}
