{{/*
    Docs.ShortCode: mermaid
*/}}
{{- $input := . -}}

{{/* Process input parameters */}}
{{- $class   := $input.Get "class" -}}
{{- $content := $input.Inner       -}}

{{/* Define the list of attributes for the span element */}}
{{- $attributes := slice -}}
{{- with $class -}}
  {{- $attributes = $attributes | append (printf `class="mermaid %s"` $class) -}}
{{- else -}}
  {{- $attributes = $attributes | append `class="mermaid"` -}}
{{- end -}}
{{- $attributes = partial "platen/utils/getSafeAttributes" $attributes -}}

{{/*
  Handle the mermaid links/scripts only the first time they're needed on a page.

  Use the page's scratch to add handling other shortcodes can take advantage of.
*/}}
{{ if not ($input.Page.Scratch.Get "mermaid") -}}
  {{- $mermaidConfig := resources.Get "scripts/shortcodes/mermaid/config.json" -}}
  <script src="{{ "mermaid.min.js" | relURL }}"></script>
  {{ with $mermaidConfig -}}
    <script>mermaid.initialize({{ $mermaidConfig.Content | safeJS }})</script>
  {{- end -}}

  {{- $input.Page.Scratch.Set "mermaid" true -}}
{{- end }}

{{/* Render */}}
<p {{ $attributes }}>{{- $content -}}</p>
