{{/*
    Docs.ShortCode: tab
*/}}
{{- $input  := .             -}}
{{- $parent := $input.Parent -}}
{{/* Process the tab */}}
{{- if $parent -}}
  {{- $name  := $input.Get 0                     -}}
  {{- $group := printf "tabs-%s" ($parent.Get 0) -}}

  {{- if not ($parent.Scratch.Get $group) -}}
    {{- $parent.Scratch.Set $group slice -}}
  {{- end -}}

  {{- $parent.Scratch.Add $group (dict "Name" $name "Content" $input.Inner) -}}
{{- else -}}
  {{- errorf "%q: 'tab' shortcode must be inside 'tabs' shortcode" $input.Page.Path -}}
{{- end -}}
