{{/*
    Docs.ShortCode: tabs
*/}}
{{- $input := . -}}

{{/* Process input parameters */}}
{{- $id    := default ($input.Get 0) ($input.Get "id")    -}}
{{- $class := default ($input.Get 1) ($input.Get "class") -}}

{{/* Define the attributes for the containing div */}}
{{- $containerAttributes := slice -}}

{{- $containerclass := "platen-tabs" -}}
{{- with $class -}}
  {{- $containerclass = printf "%s %s" $containerclass $class -}}
{{- end -}}
{{- $containerAttributes = $containerAttributes | append (printf `class="%s"` $containerclass) -}}

{{- $containerAttributes = partial "platen/utils/getSafeAttributes" $containerAttributes -}}

{{/* Initialize the list of tabs to render */}}
{{- $tabs := slice                                    -}}

{{- with $id -}}
  {{/* Define the group id for the tabs. Must be unique on the page */}}
  {{ $group := printf "tabs-%s" $id }}
  
  {{/* Error if there's no inner text. */}}
  {{- if not $input.Inner -}}
  {{- end -}}

  {{/* Define the list of attributes for the span element */}}
  {{- $definedTabs := $input.Scratch.Get $group -}}
  {{- range $index, $tab := $definedTabs -}}
    {{/* Initialize variables for processing the defined tab. */}}
    {{- $tabParams       := $tab                                                  -}}
    {{- $id              := printf "%s-%d" $group $index                          -}}
    {{- $tabClass        := $tab.Class                                            -}}
    {{- $inputAttributes := slice                                                 -}}
    {{- $labelAttributes := slice                                                 -}}
    {{- $divAttributes   := slice                                                 -}}

    {{/* Define leading whitespace for multiline attributes */}}
    {{- $inputIndent := 9 -}}
    {{- $labelIndent := 9 -}}
    {{- $divIndent   := 7  -}}

    {{/* Append the tab's classes to the element class lists if needed */}}
    {{- $inputClass := "toggle" -}}
    {{- $labelClass := ""       -}}
    {{- $divClass   := "platen-tabs-content markdown-inner" -}}

    {{- with $tabClass -}}
      {{- $inputClass = printf "%s %s" $inputClass $tabClass -}}
      {{- $labelClass = $tabClass                            -}}
      {{- $divClass   = printf "%s %s" $divClass $tabClass   -}}
    {{- end -}}

    {{/* Build the attributes list for the input element */}}
    {{- $inputAttributes = $inputAttributes | append `type="radio"`                    -}}
    {{- $inputAttributes = $inputAttributes | append (printf `class="%s"` $inputClass) -}}
    {{- $inputAttributes = $inputAttributes | append (printf `name="%s"` $group)       -}}
    {{- $inputAttributes = $inputAttributes | append (printf `id="%s"`   $id)          -}}
    {{- if eq 0 $index -}} {{/* Ensure the first tab is checked by default */}}
      {{- $inputAttributes  = $inputAttributes | append `checked="checked"` -}}
    {{- end -}}
    {{- $attributeParams := dict "Attributes" $inputAttributes "IndentCount" $inputIndent -}}
    {{- $inputAttributes  = partial "platen/utils/getSafeAttributes" $attributeParams           -}}
    {{/*  {{- warnf "input attributes: %s" $inputAttributes -}}  */}}
    {{- $tabParams        = merge $tabParams (dict "InputAttributes" $inputAttributes)          -}}

    {{/* Build the attributes for the label element */}}
    {{- $labelAttributes = $labelAttributes | append (printf `for="%s"` $id)          -}}
    {{- with $labelClass -}}
      {{- $labelAttributes = $labelAttributes | append (printf `class="%s"` $labelClass) -}}
    {{- end -}}
    {{- $attributeParams = dict "Attributes" $labelAttributes "IndentCount" $labelIndent -}}
    {{- $labelAttributes = partial "platen/utils/getSafeAttributes" $attributeParams           -}}
    {{- $tabParams       = merge $tabParams (dict "LabelAttributes" $labelAttributes)          -}}

    {{/* Build the attributes for the div element containing the tab content */}}
    {{- $divAttributes   = $divAttributes | append (printf `class="%s"` $divClass)         -}}
    {{- $attributeParams = dict "Attributes" $divAttributes "IndentCount" $divIndent -}}
    {{- $divAttributes   = partial "platen/utils/getSafeAttributes" $attributeParams       -}}
    {{- $tabParams       = merge $tabParams (dict "DivAttributes" $divAttributes)          -}}

    {{/* Add the defined tab parameters to the slice of tabs to render */}}
    {{- $tabs = $tabs | append $tabParams -}}
  {{- end -}}
{{- else -}}
{{- end -}}

{{/* Render */}}
<div {{ $containerAttributes }}>{{ range $tab := $tabs }}
  <input {{ $tab.InputAttributes }}/>
  <label {{ $tab.LabelAttributes}}>
    {{ $tab.Name }}
  </label>
  <div {{ $tab.DivAttributes }}>
    {{ partial "platen/utils/getPrettyRender"
               (dict "Page" $input.Page "Content" $tab.Content "IndentCount" 4 "AsBlock" true)
    }}
  </div>{{- end }}
</div>
