{{- $Params            := .                                        -}}
{{- $Definition        := $Params.Definition        | safeHTML     -}}
{{- $FigureAttributes  := $Params.FigureAttributes  | safeHTMLAttr -}}
{{- $FormulaAttributes := $Params.FormulaAttributes | safeHTMLAttr -}}
{{- $FormulaOpen       := $Params.FormulaOpen       | safeHTML     -}}
{{- $FormulaClose      := $Params.FormulaClose      | safeHTML     -}}

{{- with $FigureAttributes -}}
  <figure {{ $FigureAttributes }}>
{{- else -}}
  <figure>
{{- end }}
  <div {{ $FormulaAttributes }}>
    \{{ $FormulaOpen }}
      {{ $Definition }}
    \{{ $FormulaClose }}
  </div>
</figure>