# Update to your own settings for URL/title
baseURL: https://platen.io/
title: Platen
themesDir: ../modules
contentDir: ../content
dataDir: ../data
disablePathToLower: true
enableGitInfo: true

languages:
  en:
    languageName: English
    contentDir: ../content
    weight: 1

markup:
  _merge: deep

menu:
  after:
    - name: Contact
      url: /contact
      weight: 5
    - name: Hugo
      url: https://gohugo.io/
      weight: 10
    - name: Hugo Book
      url: https://github.com/alex-shpak/hugo-book
      weight: 20
  before:
    - name: Posts
      url: /posts
      weight: 10

module:
  replacements: >-
    github.com/platenio/platen/modules/platen -> platen,
    github.com/platenio/platen/modules/schematize -> schematize,
    github.com/platenio/platen/modules/toroidal -> toroidal,
    github.com/platenio/platen/modules/memo -> memo
  imports:
    - path: github.com/platenio/platen/modules/memo
    - path: github.com/platenio/platen/modules/toroidal
      mounts:
        - source: _docs/config
          target: content/schemas/toroidal
          excludeFiles: /_index.md
        - source: _docs
          target: content/modules/toroidal
        - source: _schema_data
          target: data
        - source: archetypes
          target: archetypes
        - source: assets
          target: assets
        - source: i18n
          target: i18n
        - source: layouts
          target: layouts
        - source: static
          target: static
    - path: github.com/platenio/platen/modules/schematize
      mounts:
        - source: _docs/config
          target: content/schemas/schematize
          excludeFiles: /_index.md
        - source: _docs
          target: content/modules/schematize
        - source: _schema_data
          target: data
        - source: archetypes
          target: archetypes
        - source: assets
          target: assets
        - source: i18n
          target: i18n
        - source: layouts
          target: layouts
        - source: static
          target: static
    - path: github.com/platenio/platen/modules/platen
      mounts:
        - source: _docs/config
          target: content/schemas/platen
          excludeFiles: /_index.md
        - source: _docs
          target: content/modules/platen
        - source: _schema_data
          target: data
        - source: archetypes
          target: archetypes
        - source: assets
          target: assets
        - source: i18n
          target: i18n
        - source: layouts
          target: layouts
        - source: static
          target: static

params:
  description: A toolkit for interactive digital books.
  images:
    - /images/logo.svg
