{{/*
    Docs.Partial: entry
*/}}
{{- $TaxonomyPage := . -}}

{{/* Define title for this taxonomy */}}
{{- $Title := $TaxonomyPage.Title | title -}}

{{/* Define list item element attributes */}}
{{- $attributes := slice                                                -}}
{{- $attributes  = $attributes | append `class="platen-section-flat"`   -}}
{{- $attributes  = partial "platen/utils/getSafeAttributes" $attributes -}}

{{/* Render */}}
<li {{ $attributes }}>
  <strong>{{ $Title }}</strong>
  <ul>
    {{- range $TermPage := $TaxonomyPage.Pages }}
      {{ partial "platen/taxonomy/termEntry" $TermPage }}
    {{ end -}}
  </ul>
</li>
