figure.platen-art {
  // By default, the figure takes up the full width of its container.
  width: 100%;

  // The image should always take up the full width of the figure.
  img {
    object-fit: contain;
    width: 100%;
  }

  figcaption {
    margin-top: $padding-large;
    text-align: center;
    font-size: smaller;
  }

  &.half {
    width: 50%;
  }
  &.third {
    width: 33%
  }
  &.quarter {
    width: 25%
  }

  &.platen-content-warning {
    // Set the position to relative to support fixed CW content
    position: relative;

    // Blur the image by default until unhidden by visitor
    img {
      z-index: 10;
      filter: blur(30px);
    }
    // Hide the caption by default until unhidden by visitor
    figcaption {
      visibility: hidden;
    }
    // Hide the checkbox
    input.platen-content-warning {
      visibility: hidden;
    }

    // Make the label take up the entire space
    input.platen-content-warning + label {
      position: absolute;
      z-index: 1;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      margin: 1px ;
      text-align: center;
      &::before {
        content: "Content Warning:";
        display: block;
        font-weight: bolder;
        font-size: larger;
        margin-bottom: 1em;
        margin-top: 1em;
      }
    }
    // Hide the label when checked so the art is there on its own
    input[type="checkbox"]:checked + label {
      opacity: 0;
    }
    // Unblur the image when visitor opts-in to seeing CW content
    input[type="checkbox"]:checked + label + img {
      filter: blur(0);
    }
    // Show the caption when visitor opts in to seeing CW content
    input[type="checkbox"]:checked + label + img + figcaption {
      visibility: visible;
    }
  }
}
