{{ define "main" }}
{{- $context := . -}}
<article class="markdown">
  <h1>{{ $context.Title | title }}</h1>
  {{ $taxonomies := index site.Taxonomies $context.Page.Type }}
  {{ range $taxonomy := $taxonomies }}
    {{- $href  := $taxonomy.Page.Permalink -}}
    {{- $title := $taxonomy.Page.Title     -}}
    {{- $count := $taxonomy.Count          -}}
    <div>
      <a href="{{ $href }}">{{ $title }} <sup>{{ $count }}</sup></a>
    </div>
  {{ end }}
</article>
{{ end }}

{{ define "toc" }}
  {{- $context := . -}}
  {{ partial "platen/taxonomy" $context }}
{{ end }}
