section.schematize {
  dd {
    padding-left: 5%;
  }
  dt {
    margin-top: 0;
  }
  dl.schematize-metadata {
    box-sizing: border-box;
    div.schematize-metadata-term-group {
      &.inline {
        width: 100%;
        display: grid;
        grid-template-columns: minmax(5rem, 30%) minmax(0, 70%);
        grid-template-rows: 1fr;
        column-gap: 1rem;
        margin-bottom: 1rem;
        dt {
          margin-top: 0;
          text-align: right;
          align-self: start;
          display: flex;
          flex-direction: row;
          text-align: right;
          justify-content: space-between;
          &::after {
            content: " : ";
          }
          p {
            display: inline;
            margin-block: 0;
            margin-inline: 0;
            width: max-content;
          }
        }
        dd {
          align-self: start;
          margin-left: 0;
          margin-bottom: 0;
          display: block;
          width: 100%;
          code.schematize-id {
            overflow: auto;
            background: inherit;
            // display: block;
            white-space: nowrap;
            width: 100%;
            display: grid;
            place-content: start;
            font-size: 1em;
            padding-bottom: 0.5rem;
          }
        }
        div.schematize-metadata-definition-group.inline {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          dd:has(code.schematize-enum) {
            width: max-content;
            padding-inline-start: 1em;
            padding-inline-end: 1em;
            &::after {
              content: "";
            }
            &:last-of-type::after{
              content: "";
            }
          }
        }
      }
      &.block {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        dt, dd {
          width: 100%;
          > * {
            margin: 0;
            padding: 0;
          }
        }
        > dt {
          display: flex;
          flex-direction: row;
          text-align: right;
          justify-content: space-between;
          &::after {
            content: ":";
          }
          padding-bottom: 1rem;
          min-width: 5rem;
          max-width: 30%;
        }
        dd dl.schematize-metadata {
          margin-block-start: 0;
          dt:first-child {
            margin-block-start: 0;
          }
          div.block dt {
            text-align: left;
            padding-bottom: 1rem;
            &::after {
              content: "";
            }
            max-width: 100%;
          }
          div.schematize-metadata-term-group.inline {
            dd {
              padding-left: 0;
            }
          }
        }
        > dd dl dt {
          padding-bottom: 0;
        }
        > p {
          width: 100%;
        }
        p + p {
          padding-top: 1rem;
          padding-left: 0;
        }
      }
    }
    &:last-child {
      :last-child {
        margin-bottom: 0;
      }
    }
  }
}