{{- $Params       := .                                   -}}
{{- $Attributes   := $Params.Attributes   | safeHTMLAttr -}}
{{- $RenderedTabs := $Params.RenderedTabs | safeHTML     -}}
{{- $ID           := $Params.ID           | safeHTMLAttr  -}}
{{- $ListClass    := $Params.ListClass    | safeHTMLAttr  -}}
{{- $ContentClass := $Params.ContentClass | safeHTMLAttr  -}}



<ul class="{{ $ListClass }}" style="padding-inline-start: 0rem;">
  {{ $RenderedTabs }}
</ul>
<div id="hexmap-box"></div>

<script>
  const changeText = document.querySelector("#hexmap-box");
  let btns = document.querySelectorAll('.{{ $ContentClass }}');
  
  for (i of btns) {
    i.addEventListener('click', function() {
      const input = this.nextElementSibling;
      const desiredText = input.innerHTML
      changeText.innerHTML = desiredText;
      changeText.scrollIntoView({behavior: 'smooth'});
    });
  }
</script>