{{/*
  This partial returns the link reference to a specified external header
*/}}
{{- $params       := .                 -}}
{{- $reference    := $params.reference -}}
{{- $target       := $params.target    -}}
{{- $href         := ""                -}}

{{- $ReferenceMap := site.Params.schematize.reference_map -}}
{{- if (partialCached "schematize/utils/canUsePlatenPartials" "" "check") -}}
  {{- $ConfigKey   := "schematize.reference_map"                                       -}}
  {{- $ReferenceMap = partialCached "platen/param/getKey" $ConfigKey $ConfigKey -}}
{{- end -}}

{{- with $ReferenceMap -}}
  {{- $srefTarget := printf "%s.sref_base" $target -}}
  {{- $indices    := split $srefTarget "."         -}}
  {{- $srefMap    := .                             -}}
  {{- $srefBase   := ""                            -}}

  {{- range $index := $indices -}}
    {{- if eq "sref_base" $index -}}
      {{- $srefBase = $srefMap.sref_base -}}
    {{- else -}}
      {{- if isset $srefMap $index -}}
        {{- $srefMap = index $srefMap $index -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if reflect.IsMap $srefBase -}}
    {{- errorf "Specified external sref (%s in %s) but %s.sref_base isn't defined in the site params!" $reference $target $target -}}
  {{- else if hasPrefix $srefBase "http" -}}
    {{- $href = printf "%s/%s" $srefBase $reference }}
  {{- else -}}
    {{- errorf "something strange happened, sref_base for %s in %s found as: %#v" $reference $target $srefBase -}}
  {{- end -}}
{{- else -}}
  {{- errorf "Specified external sref (%s in %s) but schematize.reference_map isn't defined in the site params!" $reference $target -}}
{{- end -}}

{{- return $href -}}
