{{- $Params    := .                                 -}}
{{- $Name      := $Params.Name                      -}}
{{- $Value     := $Params.Value                     -}}
{{- $IsCSS     := $Params.IsCSS     | default false -}}
{{- $IsDefault := $Params.IsDefault | default false -}}
{{- $Prefix    := cond $IsCSS       "--"        "$" -}}
{{- $Default   := cond $IsDefault   " !default" ""  -}}

{{- $renderStrings := slice -}}

{{ if reflect.IsMap $Value }}
  {{- $renderStrings = $renderStrings | append (printf "%s%s: (" $Prefix $Name) -}}

  {{ range $k, $v := $Value }}
    {{- $renderStrings = $renderStrings | append (printf "%s: %v," $k $v) -}}
  {{ end }}

  {{- $renderStrings = $renderStrings | append (printf ")%s;" $Default) -}}
{{ else }}
  {{- $variable     := printf "%s%s: %v%s;" $Prefix $Name $Value $Default -}}
  {{- $renderStrings = $renderStrings | append $variable                  -}}
{{ end }}

{{/*  Return the SCSS to render  */}}
{{- $renderStrings = delimit $renderStrings "\n  " "\n" | safeCSS -}}
{{- return $renderStrings -}}
