{{/*
    Docs.Partial: post/listEntry
*/}}
{{- $PostContext := . -}}

{{- $Href        := $PostContext.RelPermalink                    -}}
{{- $TitleParams := dict "Context" $PostContext "ForList" true   -}}
{{- $Title       := partial "platen/utils/getTitle" $TitleParams -}}
{{- $summary     := $PostContext.Summary                         -}}
{{- $IsTruncated := $PostContext.Truncated                       -}}

{{/* Define attribute list for article */}}
{{- $articleAttributes := slice -}}
{{- $articleAttributes  = $articleAttributes 
                          | append `class="markdown platen-post"`
-}}
{{- $articleAttributes  = partial "platen/utils/getSafeAttributes"
                                  $articleAttributes
-}}

{{/* Define attribute list for link */}}
{{- $aAttributes := slice                                                 -}}
{{- $aAttributes  = $aAttributes | append (printf `href="%s"` $Href)      -}}
{{- $aAttributes  = partial "platen/utils/getSafeAttributes" $aAttributes -}}

{{/* Add the truncated suffix if needed*/}}
{{- if $IsTruncated -}}
  {{- $summary = printf `%s <a %s>...</a>` $summary $aAttributes | safeHTML -}}
{{- end -}}

{{/* Define the metadata elements */}}
{{- $Meta := partial "platen/utils/posts/meta" $PostContext | safeHTML -}}

{{/* Render */}}
<article {{ $articleAttributes }}>
  <h2><a {{ $aAttributes }}>{{ $Title }}</a></h2>
  {{ $Meta }}
  <p>{{ $summary }}</p>
</article>
