{{/*
  Docs.Partial: title
*/}}
{{- $Context := . -}}

{{/* Determine whether the page already has an h1 */}}
{{- $HasHeading := partial "platen/param/resolve" (
  dict "Config"  "platen.display.header.title_as_heading"
       "Param"   "platen.title_as_heading"
       "Context" $Context
       "Default" false
) -}}

{{/* Continue only if the post doesn't already have a title heading */}}
{{- if not $HasHeading -}}
  {{- $TitleParams := dict "Context" $Context "ForHeading" true    -}}
  {{- $TitleText   := partial "platen/utils/getTitle" $TitleParams -}}
  {{- $Href        := $Context.RelPermalink                        -}}

  {{/* Define the attribute list for the link */}}
  {{- $attributes := slice                                                -}}
  {{- $attributes  = $attributes | append (printf `href="%s"` $Href)      -}}
  {{- $attributes  = partial "platen/utils/getSafeAttributes" $attributes -}}

  {{/* Render the heading */}}
  <h1><a {{ $attributes }}>{{ $TitleText }}</a></h1>
{{- end -}}