article.toroidal {
  header {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  details {
    summary {
      min-height: 1.5em;
      padding: .5em;
      font-size: 1em;
    }
  }
  h1, h2 {
    text-align: center;
  }
  section.toroidal-member-entry-admin-links {
    ul {
      padding-inline-start: 1em;
      li {
        padding-bottom: .5em;
      }
    }
  }
  section.toroidal-member-entry-admin-embed {
    div.toroidal-copy-buttons {
      display: flex;
      button {
        justify-content: space-between;
        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        width: 20%;               /* For old syntax, otherwise collapses. */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
        margin-right: 5%;
        min-height: 1.5em;
        padding: .5em;
      }
    }
  }
}

// Member Page navigation
nav.toroidal, nav.toroidal .toroidal-default {
  padding: 0em 1em;
  ul {
    list-style-type: none;
    padding-inline-start: 0rem;
    li {
      padding-left: 0;
    }
  }
}
