{{/*
  Determine if the ToC should be rendered:

  - If set in the page params, use that value.
  - If set in the site params but not the page, use that value.
  - If not set at all, default to true.
*/}}
{{- $Context   := . -}}
{{- $RenderToC := partial "platen/param/resolve" (
  dict "Config"  "platen.display.table_of_contents.render"
       "Param"   "platen.table_of_contents.render"
       "Context" $Context
       "Default" true
) -}}
{{- partial "platen/param/classes/canonicalize" $Context -}}
{{- $LanguageDirection := site.Language.LanguageDirection | default "ltr" -}}
{{- $LanguageCode      := site.LanguageCode | default site.Language.Lang  -}}
{{- $bodyAttributes    := printf `dir="%s"` $LanguageDirection            -}}
{{- with ($Context.Store.Get "PlatenBodyClassAttribute") -}}
  {{- $bodyAttributes = printf "%s %s" $bodyAttributes . -}}
{{- end -}}

{{/* Write the HTML */}}
<!DOCTYPE html>
<html lang="{{ $LanguageCode }}"
      dir="{{ $LanguageDirection }}">
<head>
  {{ partial "platen/htmlHead"    $Context }}
  {{ partial "platen/inject/head" $Context }}
</head>
<body {{ $bodyAttributes | safeHTMLAttr }}>
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="platen-menu">
      <div class="platen-menu-content">
        {{ template "menu" $Context }} <!-- Left menu Content -->
      </div>
    </aside>

    <div class="platen-page">
      <header class="platen-header">
        {{ template "header" $Context }} <!-- Mobile layout header -->
      </header>

      {{ partial  "platen/inject/content-before" $Context }}
      {{ template "main"                         $Context }} <!-- Page Content -->
      {{ partial  "platen/inject/content-after"  $Context }}

      <footer class="platen-footer">
        {{ template "footer"               $Context }} <!-- Footer under page content -->
        {{ partial  "platen/inject/footer" $Context }}
      </footer>

      {{ template "comments" $Context }} <!-- Comments block -->

      <label for="menu-control" class="hidden platen-menu-overlay"></label>
    </div>
    {{ if $RenderToC }}
    <aside class="platen-toc">
      <div class="platen-toc-content">
        {{ template "toc" $Context }} <!-- Table of Contents -->
      </div>
    </aside>
    {{ end }}
  </main>

  {{ partial "platen/inject/body" $Context }}
</body>
</html>

{{ define "menu" }}{{ $Context := . }}
  {{ partial "platen/menu" $Context }}
{{ end }}

{{ define "header" }}{{ $Context := . }}
  {{- $RenderToC := partial "platen/param/resolve" (
        dict "Config"  "platen.display.table_of_contents.render"
             "Param"   "platen.table_of_contents.render"
             "Context" $Context
             "Default" true
      )
  -}}
  {{ partial "platen/header" $Context }}
  {{ if $RenderToC }}
  <aside class="hidden clearfix">
    {{ template "toc" $Context }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}{{ $Context := . }}
  {{ partial "platen/footer" $Context }}
{{ end }}

{{ define "comments" }}{{ $Context := . }}
  {{- $CommentsEnabled := partial "platen/param/resolve" (
        dict "Config"  "platen.features.comments.enabled"
             "Param"   "platen.enable_comments"
             "Context" $Context
             "Default" false
      )
  -}}
  {{ if and $Context.Content $CommentsEnabled }}
  <div class="platen-comments">
    {{- partial "platen/features/comments" $Context -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}{{ $Context := . }}
  <article class="markdown">
    {{- $Context.Content -}}
  </article>
{{ end }}

{{ define "toc" }}{{ $Context := . }}
  {{ partial "platen/toc" $Context }}
{{ end }}
