{{- partialCached "platen/param/validate/legacy" "Cache" "Cache" -}}

{{- $LanguageDirection := site.Language.LanguageDirection | default "ltr" -}}
{{- $LanguageCode      := site.LanguageCode | default site.Language.Lang  -}}
{{- $bodyAttributes    := printf `dir="%s"` $LanguageDirection            -}}

{{- partial "platen/param/classes/canonicalize" -}}
{{- with $ClassAttribute := page.Store.Get "PlatenBodyClassAttribute" -}}
  {{- $bodyAttributes = printf "%s %s" $bodyAttributes $ClassAttribute -}}
{{- end -}}

{{/* Write the HTML */}}
<!DOCTYPE html>
<html lang="{{ $LanguageCode }}" dir="{{ $LanguageDirection }}">
<head>
  {{ partial "platen/htmlHead"    }}
  {{ partial "platen/inject/head" }}
</head>
<body {{ $bodyAttributes | safeHTMLAttr }}>
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  {{ if (partialCached "platen/utils/shouldRenderToC" page page) -}}
    <input type="checkbox" class="hidden toggle" id="toc-control" />
  {{- end }}
  <main class="container flex">
    <aside class="platen-menu">
      <div class="platen-menu-content">
        {{ template "menu" }} <!-- Left menu Content -->
      </div>
    </aside>

    <div class="platen-page">
      <header class="platen-header">
        {{ template "header" }} <!-- Mobile layout header -->
      </header>

      {{ partial  "platen/inject/content-before" }}
      {{ template "main"                         }} <!-- Page Content -->
      {{ partial  "platen/inject/content-after"  }}

      <footer class="platen-footer">
        {{ template "footer"               }} <!-- Footer under page content -->
        {{ partial  "platen/inject/footer" }}
      </footer>

      {{ template "comments" }} <!-- Comments block -->

      <label for="menu-control" class="hidden platen-menu-overlay"></label>
    </div>
    
    {{- if (partialCached "platen/utils/shouldRenderToC" page page) }}
    <aside class="platen-toc">
      <div class="platen-toc-content">
        {{ template "toc" (dict "ForMobile" false) }} <!-- Table of Contents -->
      </div>
    </aside>
    {{ end }}
  </main>

  {{ partial "platen/inject/body" }}
</body>
</html>

{{ define "menu" }}
  {{ partial "platen/menu" }}
{{ end }}

{{ define "header" }}
  {{ partial "platen/header" }}

  {{- if (partialCached "platen/utils/shouldRenderToC" page page) }}
  <aside class="hidden clearfix">
    {{ template "toc" (dict "ForMobile" true) }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "platen/footer" }}
{{ end }}

{{ define "comments" }}
  {{- $CommentsEnabled := partial "platen/param/resolve" (
        dict "Config"  "platen.features.comments.enabled"
             "Param"   "platen.enable_comments"
             "Context" page
             "Default" false
      )
  -}}
  {{ if and page.Content $CommentsEnabled }}
  <div class="platen-comments">
    {{- partial "platen/features/comments" -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
    {{- page.Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "platen/toc" . }}
{{ end }}
