{{- $platenSiteParams := .Site.Params.Platen -}}
{{- $platenPageParams := .Params.Platen      -}}

{{/*
  Determine if the ToC should be rendered:

  - If set in the page params, use that value.
  - If set in the site params but not the page, use that value.
  - If not set at all, default to true.
*/}}
{{- $siteRenderToC := $platenSiteParams.table_of_contents.render             -}}
{{- $pageRenderToC := $platenPageParams.table_of_contents.render             -}}
{{- $renderToC     := $pageRenderToC | default $siteRenderToC | default true -}}

{{/* Write the HTML */}}
<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}"
      dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
<head>
  {{ partial "platen/htmlHead" . }}
  {{ partial "platen/inject/head" . }}
</head>
<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="platen-menu">
      <div class="platen-menu-content">
        {{ template "menu" . }} <!-- Left menu Content -->
      </div>
    </aside>

    <div class="platen-page">
      <header class="platen-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ partial "platen/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->
      {{ partial "platen/inject/content-after" . }}

      <footer class="platen-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "platen/inject/footer" . }}
      </footer>

      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden platen-menu-overlay"></label>
    </div>
    {{ if $renderToC }}
    <aside class="platen-toc">
      <div class="platen-toc-content">
        {{ template "toc" . }} <!-- Table of Contents -->
      </div>
    </aside>
    {{ end }}
  </main>

  {{ partial "platen/inject/body" . }}
</body>
</html>

{{ define "menu" }}
  {{ partial "platen/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "platen/header" . }}

  {{  $siteRenderToC := site.Params.Platen.table_of_contents.render            -}}
  {{- $pageRenderToC := .Params.Platen.table_of_contents.render                -}}
  {{- $renderToC     := $pageRenderToC | default $siteRenderToC | default true  }}
  {{ if $renderToC }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "platen/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ $commentsEnabled := default .Site.Params.Platen.features.comments.enabled
                                 .Params.Platen.enable_comments
  }}
  {{ if and .Content (default false $commentsEnabled) }}
  <div class="platen-comments">
    {{- partial "platen/features/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "platen/toc" . }}
{{ end }}
