{{- $params       := .                                  -}}
{{- $disabledOnly := default false $params.DisabledOnly -}}

{{- $registeredShortcodes := site.Params.platen.shortcodes -}}

{{- if $disabledOnly -}}
  {{- $disabledShortcodes := dict -}}
  {{- range $shortcode, $settings := $registeredShortcodes -}}
    {{- if eq false $settings.enabled -}}
      {{- $disabledShortcodes = merge $disabledShortcodes (dict $shortcode $settings) -}}
    {{- end -}}
  {{- end -}}
  {{- $registeredShortcodes = $disabledShortcodes -}}
{{- end -}}

{{- return $registeredShortcodes -}}
