{{/* Retrieve the registered shortcodes, process the disabled ones */}}
{{- $Params     := dict "DisabledOnly" true                                             -}}
{{- $Shortcodes := partialCached "platen/param/getRegisteredShortcodes" $Params "check" -}}

{{- range $Shortcode, $Settings := $Shortcodes -}}
  {{- $names := slice $Shortcode -}}
  {{- with $Settings.aliases -}}
    {{- $names = union $names $Settings.aliases -}}
  {{- end -}}
  
  {{- $Prefix  := "[^`]?{{(<|%)"                                     -}}
  {{- $Pattern := printf `%s\s+(%s)\s+` $Prefix (delimit $names "|") -}}
  {{- $Usages  := findRE $Pattern page.RawContent                    -}}
  {{- if gt (len $Usages) 0 -}}
    {{- $message := slice    (printf "Found usage of the disabled '%s'"         $Shortcode)
                    | append (printf "shortcode in content for '%s'."           page.File.Path)
                    | append (printf "Set platen.shortcodes.%s.enabled to true" $Shortcode)
                    | append "in your site configuration or remove all uses of the shortcode."
    -}}
    {{- with $Settings.aliases -}}
      {{- $Aliases := delimit $Settings.aliases "', '" "', and '"                 -}}
      {{- $Suffix  := printf "Aliases for this shortcode include: '%s'." $Aliases -}}
      {{- $message  = $message | append $Suffix                                   -}}
    {{- end -}}
    {{- errorf "%s" (delimit $message " ") -}}
  {{- end -}}
{{- end -}}
