{{- $params           := .                                        -}}
{{- $Definition       := $params.Definition                       -}}
{{- $SupportsData     := $params.SupportsData     | default true  -}}
{{- $SupportsMarkdown := $params.SupportsMarkdown | default false -}}
{{- $data             := dict                                     -}}
{{- $markdown         := ""                                       -}}

{{- $dataPattern := `---(.|\s)+---` -}}

{{- if $SupportsData -}}
  {{- if $SupportsMarkdown -}}
    {{- if hasPrefix $Definition "---"}}
      {{- $Parts         := split $Definition   "---"                             -}}
      {{- $Count         := len   $Parts                                          -}}
      {{- $MarkdownParts := last (sub $Count 2) $Parts                            -}}
      {{- $data           = index $Parts 1 | transform.Unmarshal | default (dict) -}}
      {{- $markdown       = delimit $MarkdownParts "---"                          -}}
    {{- else -}}
      {{- $markdown = $Definition -}}
    {{- end -}}
  {{- else -}}
    {{- $data = $Definition | transform.Unmarshal | default (dict) -}}
  {{- end -}}
{{- else if $SupportsMarkdown -}}
  {{- $markdown = $Definition -}}
{{- else -}}
  {{- errorf "Invalid definition for codeblock renderer; must support data and/or markdown input, but supports neither." -}}
{{- end -}}

{{- $Info := dict "Data" $data "Markdown" $markdown -}}

{{- return $Info -}}
