{{/*
    This partial constructs a Markdown codeblock from the info map returned by getCodeblockInfo,
    including a map (potentially empty) of settings and the actual markdown.

    You can use this to munge the settings for a codeblock and rewrite it before rendering.
*/}}
{{- $Info     := .                           -}}
{{- $Data     := $Info.Data | default (dict) -}}
{{- $Markdown := $Info.Markdown              -}}

{{- $Codeblock := delimit (
      slice
      "---\n"
      ($Data | transform.Remarshal "yaml")
      "---\n"
      $Markdown
    ) ""
-}}

{{- return $Codeblock -}}