{{- $DotPath := . -}}

{{- $data := site.Data -}}
{{- range $Segment := split $DotPath "." -}}
  {{- $data = index $data $Segment -}}
{{- end -}}

{{- with $data -}}
  {{/*  Nothing to do, the data was found  */}}
{{- else -}}
  {{- $FilePath    := printf "data/%s" (delimit (split $DotPath ".") "/") -}}
  {{- $MessageInfo := dict "DotPath" $DotPath "FilePath" $FilePath        -}}
  {{- $Message     := i18n "ErrorUnresolvableDotPath" $MessageInfo        -}}
  {{- errorf $Message -}}
{{- end -}}

{{- return $data -}}
