{{- $context     := .                                            -}}
{{- $title       := ""                                           -}}
{{- $titleParams := dict "Context" $context "ForHtmlHead" true   -}}

{{- range $feature, $settings := site.Params.platen.features -}}
  {{- if and (eq "" $title) $settings.enabled -}}
    {{- with $settings.partials.title -}}
      {{ $title = partial . $titleParams }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if eq "" $title -}}
  {{- $titleText   := partial "platen/utils/getTitle" $titleParams -}}
  {{- $title = printf "%s | %s" $titleText site.Title     -}}
{{- end }}

{{- return $title -}}