{{- $context     := .                                            -}}
{{- $title       := ""                                           -}}
{{- $titleParams := dict "Context" $context "ForHtmlHead" true   -}}

{{- range $feature, $settings := $context.Site.Params.Platen.Features -}}
  {{- if and (eq "" $title) $settings.Enabled -}}
    {{- with $settings.Partials.Title -}}
      {{ $title = partial . $titleParams }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if eq "" $title -}}
  {{- $titleText   := partial "platen/utils/getTitle" $titleParams -}}
  {{- $title = printf "%s | %s" $titleText $context.Site.Title     -}}
{{- end }}

{{- return $title -}}