{{- $Context     := .                                                                -}}
{{- $title       := ""                                                               -}}
{{- $titleParams := dict "Context" $Context "ForHtmlHead" true                       -}}
{{- $ConfigKey   := "platen.features"                                                -}}
{{- $Features    := partialCached "platen/param/getKey" $ConfigKey $ConfigKey -}}

{{- range $feature, $settings := $Features -}}
  {{- if and (eq "" $title) $settings.enabled -}}
    {{- with $settings.partials.title -}}
      {{ $title = partial . $titleParams }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if eq "" $title -}}
  {{- $titleText   := partial "platen/utils/getTitle" $titleParams -}}
  {{- $title = printf "%s | %s" $titleText site.Title     -}}
{{- end }}

{{- return $title -}}