{{- $Params          := .                                       -}}
{{- $IndentCount     := $Params.IndentCount     | default 0     -}}
{{- $IndentFirstLine := $Params.IndentFirstLine | default false -}}
{{- $Content         := $Params.Content         | default ""    -}}
{{- $indentedContent := $Content                                -}}


{{- with $IndentCount -}}
  {{/*  Define the line leading for the indented content as newline + whitespace  */}}
  {{- $LineLead := printf "\n%s" (strings.Repeat $IndentCount " ") -}}
  {{/*  Split on newlines. We could handle \r and \r\n but /shrug  */}}
  {{- $Lines := split $Content "\n" -}}
  
  {{/*  If we're not indenting the first line, just add it in now  */}}
  {{- if not $IndentFirstLine -}}
    {{- $indentedContent = index $Lines 0 -}}
  {{- else -}}
    {{- $indentedContent = "" -}}
  {{- end -}}
  
  {{/*  Loop over the lines, adding them to the munged content with the extra indent  */}}
  {{- range $Index, $Line := $Lines -}}
    {{- if or $IndentFirstLine (ne 0 $Index) -}}
      {{- $indentedContent = printf "%s%s%s" $indentedContent $LineLead $Line -}}
    {{- end -}}
  {{- end -}}

  {{/*
      We need to go back over the content, un-modifying anything in pre tags,
      because those are _meant_ to be displayed with the exact whitespace that
      they were written with.
  */}}
  {{- $FindPattern  := `<pre.+?>(.|\s)+?</pre>`                        -}}
  {{- $UndoPattern  := printf `\n%s` (strings.Repeat $IndentCount " ") -}}
  {{- $Preformatted := findRE $FindPattern $indentedContent            -}}
  {{- range $Block := $Preformatted -}}
    {{- $indentedContent = replace $indentedContent $Block (replaceRE $UndoPattern "\n" $Block) -}}
  {{- end -}}
{{- end -}}

{{/*  Return the indented content  */}}
{{- return $indentedContent -}}