{{- $Params      := .                                   -}}
{{- $Page        := $Params.Page        | default page  -}}
{{- $AsBlock     := $Params.AsBlock     | default false -}}
{{- $Content     := $Params.Content                     -}}
{{- $IndentCount := $Params.IndentCount | default 0     -}}

{{- $renderedString := "" -}}

{{- with $Content -}}
  {{- if $AsBlock -}}
    {{- $renderedString = $Content | $Page.RenderString (dict "display" "block") -}}
  {{- else -}}
    {{- $renderedString = $Content | $Page.RenderString -}}
  {{- end -}}
{{- else -}}
  {{- errorf "Can't pretty render without content."}}
{{- end -}}

{{- with $IndentCount -}}
  {{- $Indentation   := strings.Repeat $IndentCount " " -}}
  {{- $Lines         := split $renderedString "\n"      -}}
  {{- $mungedContent := index $Lines 0                  -}}
  {{- range $Index, $Line := $Lines -}}
    {{- if ne 0 $Index -}}
      {{- $mungedContent = printf "%s\n%s%s" $mungedContent $Indentation $Line -}}
    {{- end -}}
  {{- end -}}

  {{- $FindPattern  := `<pre.+?>(.|\s)+?</pre>`       -}}
  {{- $UndoPattern  := printf `\n%s` $Indentation -}}
  {{- $Preformatted := findRE $FindPattern $mungedContent -}}
  {{- range $Block := $Preformatted -}}
    {{- $mungedContent  = replace $mungedContent $Block (replaceRE $UndoPattern "\n" $Block) -}}
  {{- end -}}

  {{- $renderedString = $mungedContent -}}
{{- end -}}

{{- $renderedString = strings.TrimRight " "  $renderedString -}}
{{- $renderedString = strings.TrimRight "\n" $renderedString -}}
{{- $renderedString = $renderedString   | safeHTML           -}}

{{- return $renderedString -}}
