{{/*
    Docs.Partial: getSafeAttributes

    This partial takes a slice of HTML element attributes as strings and returns
    the strings delimited by a single space, marked as safe for insertion as
    HTML attributes.

    This makes it more convenient to build attribute lists for elements to let
    you render them when needed.
*/}}
{{- $inputAttributeSlice := .     -}}
{{- $multiLine           := false -}}
{{- $indentCount         := 0    -}}

{{- if reflect.IsMap $inputAttributeSlice -}}
  {{- $multiLine           = $inputAttributeSlice.MultiLine   | default $multiLine   -}}
  {{- $indentCount         = $inputAttributeSlice.IndentCount | default $indentCount -}}
  {{- $inputAttributeSlice = $inputAttributeSlice.Attributes                         -}}
{{- end -}}

{{- $mungedAttributes := delimit $inputAttributeSlice " " | safeHTMLAttr -}}

{{- if or $multiLine (gt (len $mungedAttributes) 70) -}}
  {{- $mungedAttributes = index $inputAttributeSlice 0    -}}
  {{- $Indentation     := strings.Repeat $indentCount " " -}}

  {{- range $index, $attribute := $inputAttributeSlice -}}
    {{- if ne 0 $index -}}
      {{- $mungedAttributes = printf "%s\n%s%s" $mungedAttributes $Indentation $attribute -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $safeAttributes := $mungedAttributes | safeHTMLAttr -}}

{{- return $safeAttributes -}}
