{{/*
  Partial to generate page name from Title or File name. Accepts Page as context
*/}}
{{- $Params      := .                                                         -}}
{{- $context     := .                                                         -}}
{{- $title       := ""                                                        -}}
{{- $ConfigKey   := "platen.features"                                         -}}
{{- $Features    := partialCached "platen/param/getKey" $ConfigKey $ConfigKey -}}
{{- $forMenu     := ""                                                        -}}
{{- $forHeader   := ""                                                        -}}
{{- $forHeading  := ""                                                        -}}
{{- $forHtmlHead := ""                                                        -}}
{{- $forList     := ""                                                        -}}


{{- if reflect.IsMap $Params -}}
  {{- $context     = $Params.Context     -}}
  {{- $forMenu     = $Params.ForMenu     -}}
  {{- $forHeader   = $Params.ForHeader   -}}
  {{- $forHeading  = $Params.ForHeading  -}}
  {{- $forHtmlHead = $Params.ForHtmlHead -}}
  {{- $forList     = $Params.ForList     -}}
{{- end -}}

{{- range $Feature, $Settings := $Features -}}
  {{- if and (eq "" $title) $Settings.enabled -}}
    {{- with $Settings.partials.title -}}
      {{ $title = partial . $Params }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if eq "" $title -}}
  {{- if and $context.LinkTitle (or $forMenu $forList) -}}
    {{- $title = $context.LinkTitle | $context.RenderString -}}
  {{- else if $context.Title -}}
    {{- $title = $context.Title -}}
  {{- else if and $context.IsSection $context.File -}}
    {{- $title = path.Base $context.File.Dir | humanize | title -}}
  {{- else if and $context.IsPage $context.File -}}
    {{- $title = $context.File.BaseFileName | humanize | title -}}
  {{- end -}}
{{- end -}}

{{- return $title -}}
