{{/*
  Partial to generate page name from Title or File name. Accepts Page as context
*/}}
{{- $params  := .     -}}
{{- $context := .     -}}
{{- $title   := ""    -}}

{{- if reflect.IsMap $params -}}
  {{- $context = $params.Context -}}
{{- end -}}

{{- range $feature, $settings := $context.Site.Params.platen.features -}}
  {{- if and (eq "" $title) $settings.enabled -}}
    {{- with $settings.partials.title -}}
      {{ $title = partial . $params }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if eq "" $title -}}
  {{- if $context.Title -}}
    {{- $title = $context.Title -}}
  {{- else if and $context.IsSection $context.File -}}
    {{- $title = path.Base $context.File.Dir | humanize | title -}}
  {{- else if and $context.IsPage $context.File -}}
    {{- $title = $context.File.BaseFileName | humanize | title -}}
  {{- end -}}
{{- end -}}

{{- return $title -}}
