{{/*
    Utility Partial: mungePortableLinkDestination

    This partial expects to receive the render hook input information for a
    link. It tries to munge the relative path to another file or folder into
    the relative permalink for that page, if it exists.

    If the page doesn't exist, it warns about it but doesn't error.
*/}}
{{- $Input       := .                                                              -}}
{{- $File        := $Input.Page.File                                               -}}
{{- $destination := $Input.Destination                                             -}}
{{- $IsRemote    := or (in $destination ":") (strings.HasPrefix $destination "//") -}}

{{- if not $IsRemote -}}
  {{- $URL  := urls.Parse $destination                   -}}
  {{- $path := strings.TrimSuffix "/_index.md" $URL.Path -}}
  {{- $path  = strings.TrimSuffix "/_index"    $path     -}}
  {{- $path  = strings.TrimSuffix ".md"        $path     -}}

  {{/* If there's no path, assume its a fragment for the current page */}}
  {{- if ne "" $path -}}
    {{- $DestinationPage := $Input.Page.GetPage $path -}}
    {{- if $DestinationPage -}}
      {{- $destination = $DestinationPage.RelPermalink -}}

      {{- if $URL.Fragment -}}
        {{- $destination = print $destination "#" $URL.Fragment -}}
      {{- end -}}
    {{- else if fileExists (print $File.Dir $destination) -}}
      {{/*  Nothing to do, file was found */}}
    {{- else if (not (hasPrefix $Input.Destination "/")) -}}
      {{- warnf "Page '%s' not found in '%s'" $destination $File -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return ($destination | safeURL) -}}
