{{/*
    Utility Partial: shouldRenderToC

    Determines whether the table of contents should be rendered for the page.

    This partial expects no input and always operates on the current page.

    It uses the settings from `platen.display.table_of_contents` in the site
    configuration and the `platen.table_of_contents` options in the page's
    front matter to determine whether the TOC should try to render at all.

    If it should, the partial then uses the settings for minimum and maximum
    heading levels to render for the TOC to see whether there are enough
    headings in the page content (minimum 2) to be worth rendering the TOC.

    If the `render` setting is `true` and the page has at least two headings
    whose level is in the valid range, this partial returns `true`. Otherwise,
    it returns `false`.

    This partial should always be called with `partialCached`, like this:

        partialCached "platen/utils/shouldRenderToC" page page

    That ensures the call is cached for the current page, since it gets called
    at least twice in the baseof template.
*/}}
{{- $PageContent   := page.Content                                                        -}}
{{- $ConfigKey     := "platen.display.table_of_contents"                                  -}}
{{- $SiteConfigToC := partialCached "platen/param/getKey" $ConfigKey $ConfigKey           -}}
{{- $PageConfigToC := page.Params.platen.table_of_contents                                -}}
{{- $MergeParams   := dict "BaseMap" $SiteConfigToC "MergingMap" $PageConfigToC           -}}
{{- $MergedConfig  := partialCached "platen/utils/getMergedMap" $MergeParams $MergeParams -}}
{{- $RenderSetting := $MergedConfig.render | default true                                 -}}
{{- $MinLevel      := $MergedConfig.minimum_level | default 2                             -}}
{{- $MaxLevel      := $MergedConfig.maximum_level | default 4                             -}}

{{/* Build Regex to find includable headings. */}}
{{- $Pattern := delimit (
      slice
      (printf "<h[%v-%v].*?>" $MinLevel $MaxLevel)
      "(.|\n)+?"
      (printf "</h[%v-%v]>"   $MinLevel $MaxLevel)
    ) "" | print
-}}

{{/* Find all headings in the rendered content */}}
{{- $Headers      := findRE $Pattern $PageContent   -}}
{{- $HasHeaders   := ge (len $Headers) 1            -}}
{{- $ShouldRender := and $RenderSetting $HasHeaders -}}

{{- return $ShouldRender -}}
