{{/*
  This partial adds a link to another schema data entry on the site.
*/}}
{{- $Input  := .             -}}
{{- $Params := $Input.Params -}}

{{- $reference := $Input.Get "reference" | default ($Input.Get 0) -}}
{{- $refTarget := "schematize"                                    -}}
{{- with ($Input.Get "target") -}}
  {{- $refTarget = . -}}
{{- else -}}
  {{- $target := $Input.Get 1 -}}
  {{- if not (in (slice "urlOnly" "noSuffix") $target) -}}
    {{- $refTarget = $target | default $refTarget -}}
  {{- end -}}
{{- end -}}

{{- $addSuffix := not (in $Params "noSuffix") -}}
{{- $urlOnly   := in $Params "urlOnly"        -}}

{{- $linkText := printf "<code>%s</code>" $reference -}}
{{- with $Input.Inner -}}
  {{- $linkText = markdownify $Input.Inner -}}
{{- end -}}

{{- $ReferenceMap := site.Params.schematize.reference_map -}}
{{- if (partialCached "schematize/utils/canUsePlatenPartials" "" "check") -}}
  {{- $ConfigKey   := "schematize.reference_map"                                       -}}
  {{- $ReferenceMap = partialCached "platen/param/getKey" $ConfigKey $ConfigKey -}}
{{- end -}}

{{- if and (ne "schematize" $refTarget) $addSuffix -}}
  {{- $srefSuffix := "" -}}
  {{- with $ReferenceMap -}}
    {{- $indices := split (printf "%s.sref_suffix" $refTarget) "." -}}
    {{- $srefSettings := $ReferenceMap -}}
    {{- range $index := $indices -}}
      {{- if isset $srefSettings "sref_suffix" -}}
        {{- $srefSuffix = index $srefSettings "sref_suffix" -}}
      {{- end -}}
      {{- if isset $srefSettings $index -}}
        {{- if eq "sref_suffix" $index -}}
          {{- $srefSuffix = index $srefSettings $index -}}
        {{- else -}}
          {{- $srefSettings = index $srefSettings $index -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- $linkText = printf "%s %s" $linkText $srefSuffix -}}
    {{- $linkText = trim $linkText " " -}}
  {{- end -}}
{{- end -}}

{{- with $reference -}}
  {{- $href := "" -}}
  {{- if eq "schematize" $refTarget -}}
    {{- $hrefParams := dict "reference" $reference                      -}}
    {{- $href        = partial "schematize/sref/schematize" $hrefParams -}}
  {{- else -}}
    {{- $hrefParams := dict "reference" $reference "target" $refTarget -}}
    {{- $href        = partial "schematize/sref/external" $hrefParams  -}}
  {{- end -}}

  {{- with $href -}}
    {{- if $urlOnly -}}
      {{- $href | safeHTML -}}
    {{- else -}}
      {{- printf "<a class=\"schematize-sref\" href=\"%s\">%s</a>" $href $linkText | safeHTML -}}
    {{- end -}}
  {{- else -}}
    {{- errorf "couldn't resolve sref for %s (%s)" $reference $refTarget -}}
  {{- end -}}
{{- else -}}
  {{- errorf "No reference specified for sref; this value is mandatory. " -}}
{{- end -}}
