{{- $param      := .           -}}
{{- $type       := $param.type -}}
{{- $metadata   := dict        -}}

{{- $mungedType := $type -}}
{{- if hasPrefix $mungedType "String" -}}
    {{- $mungedType = "String" -}}
{{- end -}}

{{- with $param.enum -}}
  {{- $mungedType = "Enum"      -}}
  {{- $enums     := $param.enum -}}
  {{- if not (reflect.IsSlice $enums) -}}
    {{- $enums = slice $enums -}}
  {{- end -}}
  {{- $metadata = merge $metadata (dict "ValidValues" $enums) -}}
{{- end -}}

{{- $metadata  = merge $metadata (dict "Type" $mungedType) -}}

{{- $required := $param.required | default false             -}}
{{- $metadata  = merge $metadata (dict "Required" $required) -}}

{{- if isset $param "position" -}}
  {{- $position := print $param.position                       -}}
  {{- $metadata  = merge $metadata (dict "Position" $position) -}}
{{- end -}}

{{- if in $type "Markdown" -}}
  {{- $metadata = merge $metadata (dict "RendersMarkdown" true) -}}
{{- end -}}

{{- $trimsLeadingWhiteSpaceKey := "TrimsLeadingWhiteSpace" -}}
{{- with (index $param (lower $trimsLeadingWhiteSpaceKey)) -}}
  {{- $value   := .                                                        -}}
  {{- $metadata = merge $metadata (dict $trimsLeadingWhiteSpaceKey $value) -}}
{{- end -}}

{{- $metadataCodeBlock := slice "```yaml { Memo=ShortCodeMetadata }" -}}
{{- $yaml              := $metadata | transform.Remarshal "yaml"     -}}
{{- $metadataCodeBlock  = $metadataCodeBlock | append $yaml          -}}
{{- $metadataCodeBlock  = $metadataCodeBlock | append "```"          -}}
{{- $metadataCodeBlock  = delimit $metadataCodeBlock "\n"            -}}

{{- return $metadataCodeBlock -}}