{{/*
  Gets the "edit this page" link for the current page. Only works when integrated with Platen.
  When this partial returns an empty string, the admin page won't show "edit member definition"
  in the list of links.

  Input: Page context for a member page.
  Output: String.
*/}}

{{- $context    := .  -}}
{{- $sourceHref := "" -}}

{{- with site.Params.Platen.repository.url                                      -}}
  {{- $base       := site.Params.Platen.repository.url                          -}}
  {{- $editPath   := site.Params.Platen.repository.edit_path                    -}}
  {{- $contentDir := default "content" site.Params.contentDir                   -}}
  {{- $filePath   := replace $context.File.Path "\\" "/"                        -}}
  {{- $sourceHref  = printf "%s/%s/%s/%s" $base $editPath $contentDir $filePath -}}
{{- end -}}

{{- return $sourceHref -}}
