{{/*
    Docs.Partial: title
*/}}
{{- $Context        := . -}}

{{/* Get the title text */}}
{{- $titleParams := dict "Context" $Context "ForHeader" true     -}}
{{- $titleText   := partial "platen/utils/getTitle" $titleParams -}}

{{/* Determine the element tag. */}}
{{- $ShouldBeHeader := partial "platen/param/resolve" (
  dict "Config"  "platen.display.header.title_as_heading"
       "Param"   "platen.title_as_heading"
       "Context" $Context
       "Default" false
) -}}
{{- $elementTag     := cond $ShouldBeHeader "h1" "strong"                                    -}}

{{/* define the attributes for the tag */}}
{{- $openTagAttributes := slice -}}
{{- if $ShouldBeHeader -}}
  {{- $id               := urlize (lower $titleText)                          -}}
  {{- $openTagAttributes = $openTagAttributes | append (printf `id="%s"` $id) -}}
{{- end -}}
{{- $openTagAttributes = partial "platen/utils/getSafeAttributes" $openTagAttributes -}}
{{- $openTag          := printf `<%s %s>` $elementTag $openTagAttributes | safeHTML  -}}
{{- $closeTag         := printf `</%s>`   $elementTag                    | safeHTML  -}}

{{/* Render */}}
{{ $openTag }}
  {{- $titleText -}}
{{ $closeTag }}
