{{/*
    Docs.Partial: menuControl
*/}}
{{- $Context       := .                                            -}}

{{/* Determine if the TOC menu should be rendered */}}
{{- $ShouldRender := partial "platen/param/resolve" (
  dict "Config"  "platen.display.table_of_contents.render"
       "Param"   "platen.table_of_contents.render"
       "Context" $Context
       "Default" true
) -}}

{{/* Get the menu icon */}}
{{- $src := "svg/toc.svg" | relURL -}}

{{/* Define the attributes for the label element */}}
{{- $labelAttributes := slice                                                     -}}
{{- $labelAttributes  = $labelAttributes | append `for="toc-control"`             -}}
{{- $labelAttributes  = partial "platen/utils/getSafeAttributes" $labelAttributes -}}

{{/* Define the attributes for the image element */}}
{{- $imageAttributes := slice                                                     -}}
{{- $imageAttributes  = $imageAttributes | append (printf `src="%s"` $src)        -}}
{{- $imageAttributes  = $imageAttributes | append `class="platen-icon"`           -}}
{{- $imageAttributes  = $imageAttributes | append `alt="Table of Contents"`       -}}
{{- $imageAttributes  = partial "platen/utils/getSafeAttributes" $imageAttributes -}}

{{/* Render */}}
<label {{ $labelAttributes }} >
  {{ if $ShouldRender }}<img {{ $imageAttributes }} />{{ end }}
</label>
