{{/*
    Header Partial: tocControl

    This partial displays the button visitors can click on mobile to display
    the table of contents for a page.

    If `platen.display.mobile.toc_control.use_legacy` is set to `true`, it
    displays an `<sl-icon-button>` with a tooltip that explains what the button
    does. The button and tooltip can be configured in the site settings.

    If `platen.display.mobile.toc_control.use_legacy` is set to `false`, it
    displays `static/svg/toc.svg` as an image.
*/}}

{{/*  Define partials for easier reuse/naming  */}}
{{- $getKey            := "platen/param/getKey"            -}}
{{- $getSafeAttributes := "platen/utils/getSafeAttributes" -}}
{{- $shouldRenderToC   := "platen/utils/shouldRenderToC"   -}}

{{/* Determine if the TOC menu should be rendered */}}
{{- $ShouldRender := partialCached $shouldRenderToC page page -}}

{{/*  Retrieve options from the site config  */}}
{{- $Key    := "platen.display.mobile.toc_control" -}}
{{- $Config := partialCached $getKey $Key $Key     -}}

{{- $template       := "platen/features/shoelace/templates/iconButton" -}}
{{- $templateParams := dict                                            -}}

{{- if eq true $Config.use_legacy -}}
  {{- $template = "platen/header/tocControl/legacy" -}}
{{- else -}}
  {{- $DefaultLabel  := "Toggle table of contents"                           -}}
  {{- $OnClickOption := dict  "onClick" "Platen.toggleTableOfContents()"     -}}
  {{- $ButtonOptions := merge $Config   $OnClickOption                       -}}
  {{- $templateParams = dict  "Button"  $ButtonOptions "Label" $DefaultLabel -}}
{{- end -}}

{{/* Render */}}
<label for="toc-control" >
  {{ if $ShouldRender -}}
    {{- partial $template $templateParams -}}
  {{- end }}
</label>

{{- define "partials/platen/header/tocControl/legacy" -}}
  {{- $Src := "svg/toc.svg" | relURL | safeHTMLAttr -}}
  <img src="{{ $Src}}" class="platen-icon" alt="Table of Contents"/>
{{- end -}}
