{{/*
    Docs.Partial: menuControl
*/}}
{{- $Context       := .                                            -}}
{{- $SiteConfigToC := site.Params.platen.display.table_of_contents -}}
{{- $PageConfigToC := $Context.Params.platen.table_of_contents     -}}

{{/* Determine if the TOC menu should be rendered */}}
{{- $shouldRender := $PageConfigToC.render | default $SiteConfigToC.render | default true -}}

{{/* Get the menu icon */}}
{{- $src := "svg/toc.svg" | relURL -}}

{{/* Define the attributes for the label element */}}
{{- $labelAttributes := slice                                                     -}}
{{- $labelAttributes  = $labelAttributes | append `for="toc-control"`             -}}
{{- $labelAttributes  = partial "platen/utils/getSafeAttributes" $labelAttributes -}}

{{/* Define the attributes for the image element */}}
{{- $imageAttributes := slice                                                     -}}
{{- $imageAttributes  = $imageAttributes | append (printf `src="%s"` $src)        -}}
{{- $imageAttributes  = $imageAttributes | append `class="platen-icon"`           -}}
{{- $imageAttributes  = $imageAttributes | append `alt="Table of Contents"`       -}}
{{- $imageAttributes  = partial "platen/utils/getSafeAttributes" $imageAttributes -}}

{{/* Render */}}
<label {{ $labelAttributes }} >
  {{ if $shouldRender }}<img {{ $imageAttributes }} />{{ end }}
</label>
